---
# @var configure_host_disks:description: >
# Should the specified directories be on their
# devices -> (true), or do they live in the root-filesystem (/) -> (false).
# mountpoints are described in host_fs_layout
# @end
configure_host_disks: false

# @var oracle_user:description: >
# Defines the os-User for Oracle Database installation.
# Is also used as the grid owner, when role_separation is false.
# @end
oracle_user: oracle

# @var grid_user:description: >
# Defines the os-User for Oracle Restart/Grid-Infrastructure,
# when role_separation is true.
# @end
grid_user: grid

# @var role_separation:description: >
# Should role separation be used for Oracle Restart/Grid-Infrastructure.
# See `grid_user` and `oracle_user` for Grid-Infrastructure user.
# @end
role_separation: false

# @var oracle_user_home:description: home directory for `oracle_user`.
# @var oracle_user_home: $ "/home/oracle"
oracle_user_home: "/home/{{ oracle_user }}"

# @var scripts_folder:description: Folder under Oracle user home dir to place scripts in
scripts_folder: .Scripts

# @var grid_user_home:description: >
# home directory for `grid_user`.
#
# Only used, when `role_seperation: true` which is false by default.
# @var grid_user_home: $ "/home/grid"
grid_user_home: "/home/{{ _grid_install_user }}"

# @var oracle_group:description: The name for the oinstall group.
oracle_group: oinstall

# @var oper_group:description: The os-group for sysoper role in Oracle RDBMS.
oper_group: oper

# @var dba_group:description: The os-group for sysdba role in Oracle RDBMS.
dba_group: dba

# @var asmoper_group:description: The os-group for asmoper role in Oracle ASM.
asmoper_group: asmoper

# @var asmdba_group:description: The os-group for asmdba role in Oracle ASM.
asmdba_group: asmdba

# @var asmadmin_group:description: The os-group for asmadmin role in Oracle ASM.
asmadmin_group: asmadmin

# @var oracle_inventory_loc:description: Directory for central Oracle Inventory.
oracle_inventory_loc: /u01/app/oraInventory

# @var oracle_stage:description: >
# Defines the base directory for response files, configuration firles etc. for `ansible-oracle`.
#
# There is usually no need to change this variable.
# @end
oracle_stage: /u01/stage

# @var oracle_rsp_stage:description: >
# Defines the directory for response files for installation.
#
# There is usually no need to change this variable.
# @end
oracle_rsp_stage: "{{ oracle_stage }}/rsp"

# @var oracle_tmp_stage:description: >
# Defines the temporary directory to be used by Oracle scripts.
# (on hardened systems, /tmp usually is noexec-flagged and thus not usable to execute scripts)
#
# There is usually no need to change this variable.
# @end
oracle_tmp_stage: >-
  {% if ansible_fips | default(false) %}{{ oracle_stage }}{%- endif %}/tmp

# @var orahost_meta_cv_assume_distid:description: >
# The variable is used by `oracle_script_env` and passed
# to shell: or command: through "environment:" keyword
#
# Riles:
#   - Redhat/OL and ansible_distribution_major_version <= 8
#
#     `OL{{ ansible_distribution_major_version }}`
#
#   - Redhat/OL and ansible_distribution_major_version = 9
#
#     `OL8`
#
#  - SuSE
#
#    `SLES15`
#
# @end
orahost_meta_cv_assume_distid: |-
  {% if ansible_os_family == 'RedHat' %}OL
  {%- if ansible_distribution_major_version is version('8', '<=') %}{{ ansible_distribution_major_version }}
  {%- elif ansible_distribution_major_version is version('9', '=') %}8
  {%- endif %}
  {%- elif ansible_os_family in ('SuSe', 'Suse') %}SUSE{{ ansible_distribution_major_version }}
  {%- endif %}

# @var orahost_meta_java_options:description: >
# The variable is used by `oracle_script_env` and passed
# to shell: or command: through "environment:" keyword
#
# `java.io.tmpdir` is needed for FIPS configured systems,
# because starting tools from `/tmp` is forbidden.
# @end
orahost_meta_java_options: >-
  {% if oracle_tmp_stage != '/tmp' -%}
  -Djava.io.tmpdir={{ oracle_tmp_stage -}}
  {% endif %}

# @var orahost_meta_java_options:description: >
# The variable is used by `oracle_script_env` and passed
# to shell: or command: through "environment:" keyword
# @end
orahost_meta_tmpdir: "{{ oracle_tmp_stage }}"

# @var oracle_script_env:description: >
# (Minimum) environment settings to pass to Oracle scripts.
# Usually passed to shell: or command: through "environment:" keyword
#
# @end
oracle_script_env:
  CV_ASSUME_DISTID: "{{ orahost_meta_cv_assume_distid }}"
  TMPDIR: "{{ orahost_meta_tmpdir }}"
  "_JAVA_OPTIONS": "{{ orahost_meta_java_options }}"

# @var oracle_seclimits:description: ulimit definition for orahost role.
oracle_seclimits:
  - {name: 'soft nproc', value: 16384}
  - {name: 'hard nproc', value: 16384}
  - {name: 'soft nofile', value: 4096}
  - {name: 'hard nofile', value: 65536}
  - {name: 'soft stack', value: 10240}
  - {name: 'hard stack', value: 32768}
  - {name: 'soft memlock', value: "{{ ((0.91 * ansible_memtotal_mb) * 1024) | round | int }}"}
  - {name: 'hard memlock', value: "{{ ((0.91 * ansible_memtotal_mb) * 1024) | round | int }}"}

# @var device_persistence:description: >
# Defines the device persistency in ansible-oracle.
#
# Values:
#
# - asmlib
# - asmfd
# - '' - no special device configuration
# @end
# @var device_persistence:example: >
# device_persistence: asmlib
#
# device_persistence: asmfd
# @end
device_persistence: ''

# @var asm_diskgroups:description: >
# ASM Diskgroupdefinition for Oracle Restart/Grid-Infrastructure
# @end
asm_diskgroups: []
# @var asm_diskgroups:example: >
# asm_diskgroups:
#  - diskgroup: crs
#    properties:
#      - {redundancy: normal}
#    attributes:
#      - {name: compatible.asm, value: 12.1.0.2.0}
#      - {name: compatible.rdbms, value: 11.2.0.4.0}
#      - {name: au_size, value: 4m}
#    disk:
#      - {device: /dev/sdc, asmlabel: crs01}
#      - {device: /dev/sdd, asmlabel: crs02}
#      - {device: /dev/sde, asmlabel: crs03}
#  - diskgroup: data
#    properties:
#      - {redundancy: external}
#    attributes:
#      - {name: compatible.asm, value: 12.1.0.2.0}
#      - {name: compatible.rdbms, value: 11.2.0.4.0}
#      - {name: au_size, value: 4m}
#    disk:
#      - {device: /dev/sdf, asmlabel: data01}
#  - diskgroup: fra
#    properties:
#     - {redundancy: external}
#    attributes:
#      - {name: compatible.asm, value: 12.1.0.2.0}
#      - {name: compatible.rdbms, value: 11.2.0.4.0}
#      - {name: au_size, value: 4m}
#    disk:
#      - {device: /dev/sdg, asmlabel: fra01}
#
# # Defining ausize in `properties` is still supported for backward compatibility.
# # But, except for initial ASM diskgroup, it still won't be considered when creating the diskgroup, though.
# asm_diskgroups:
#  - diskgroup: crs
#    properties:
#      - {redundancy: normal, ausize: 4}
#    attributes:
#      - {name: compatible.asm, value: 12.1.0.2.0}
#      - {name: compatible.rdbms, value: 11.2.0.4.0}
#    ...
# @end

# @var oracle_nr_bg_processes:description: Estimated number of background processes of an Oracle instance. Used to calculate kernel SEMMNS
oracle_nr_bg_processes: 130
# @var sysctl_kernel_sem_force:description: >
# Force setting kernel.sem depending on configured instances
# (collections: oracle_databases, oracle_asm_instance), even if calculated values are lower than current ones
sysctl_kernel_sem_force: false
# @end

# @var orahost_min_swap_mb:description: >
# Minimum amount of swap space (in MB) required for DB server.
# Note: We observed ansible_memory_mb.swap.total is 1MB less than configured
# swap (e.g. 16383 instead of 16384 for 16GB)
# @end
# @var orahost_min_swap_mb:type: integer
orahost_min_swap_mb: 16383
