---
#
# ansible-playbook -i inventory/racattack/hosts.yml -e hostgroup=collabn racattackl-install.yml --skip-tags redolog
#
# Note: oradb-manage-redolog not working on RAC at the moment
#
- import_playbook: os_racattack.yml
- import_playbook: os.yml
- import_playbook: sql-zauberkastern.yml
- import_playbook: swgi.yml
- import_playbook: swdb.yml
- import_playbook: manage-db.yml
