---
- block:  # noqa unnamed-task
    - name: ASM-storage | create asmlib labels
      shell: "{{ asmlib_binary }} createdisk {{ item.1.asmlabel }} {{ item.1.device }}{{ partition_suffix }}"
      # noqa command-instead-of-shell
      args:
        creates: "/dev/oracleasm/disks/{{ item.1.asmlabel | upper }}"
      with_subelements:
        - "{{ asm_diskgroups }}"
        - disk
      loop_control:
        label: "asmdisk={{ item.1.asmlabel | default('') }} device={{ item.1.device | default('') }}{{ partition_suffix | default('') }}"
      run_once: "{{ configure_cluster }}"
      tags: asmlibconfig,asmstorage

    - name: ASMlib | Rescan ASM disks
      shell: "{{ asmlib_binary }} scandisks"
      # noqa command-instead-of-shell
      changed_when: false
      tags: asmlibconfig,asmstorage

    - name: ASMlib | List ASM disks
      shell: "{{ asmlib_binary }} listdisks"
      # noqa command-instead-of-shell
      register: listdisks
      changed_when: false
      tags: asmlibconfig,asmstorage

    - name: ASMlib | List ASM disks
      debug: var=listdisks.stdout_lines
      tags: asmlibconfig,asmstorage

  when:
    - device_persistence == 'asmlib'
    - asm_diskgroups is defined
