
- name: ASM-storage | create asmlib labels
  shell: "{{ asmlib_binary}} createdisk {{item.1.asmlabel}} {{ item.1.device }}{{ partition_suffix}}"
  args:
     creates: "/dev/oracleasm/disks/{{ item.1.asmlabel | upper}}"
  with_subelements:
      - "{{asm_diskgroups}}"
      - disk
  when: master_node and device_persistence == 'asmlib' and asm_diskgroups is defined
  tags: asmlibconfig,asmstorage

- name: ASMlib | Rescan ASM disks
  shell: "{{asmlib_binary}} scandisks"
  when: device_persistence == 'asmlib'
  changed_when: False
  tags: asmlibconfig,asmstorage

- name: ASMlib | List ASM disks
  shell: "{{asmlib_binary}} listdisks"
  when: device_persistence == 'asmlib'
  register: listdisks
  changed_when: False
  tags: asmlibconfig,asmstorage

- name: ASMlib | List ASM disks
  debug: var=listdisks.stdout_lines
  when: device_persistence == 'asmlib'
  tags: asmlibconfig,asmstorage
