# {{ ansible_managed }}
#
# This is a configuration file for automatic loading of the Oracle
# Automatic Storage Management library kernel driver.  It is generated
# By running /etc/init.d/oracleasm configure.  Please use that method
# to modify this file
#

# ORACLEASM_ENABLED: 'true' means to load the driver on boot.
ORACLEASM_ENABLED=true

{% if role_separation==True %}
# ORACLEASM_UID: Default user owning the /dev/oracleasm mount point.
ORACLEASM_UID={{ grid_install_user }}

# ORACLEASM_GID: Default group owning the /dev/oracleasm mount point.
ORACLEASM_GID={{ asmdba_group }}
  {% else %}
# ORACLEASM_UID: Default user owning the /dev/oracleasm mount point.
 ORACLEASM_UID={{ oracle_user }}

# ORACLEASM_GID: Default group owning the /dev/oracleasm mount point.
 ORACLEASM_GID={{ dba_group }}
{% endif %}

# ORACLEASM_SCANBOOT: 'true' means scan for ASM disks on boot.
ORACLEASM_SCANBOOT=true

# ORACLEASM_SCANORDER: Matching patterns to order disk scanning
ORACLEASM_SCANORDER=""

# ORACLEASM_SCANEXCLUDE: Matching patterns to exclude disks from scan
ORACLEASM_SCANEXCLUDE=""

# ORACLEASM_USE_LOGICAL_BLOCK_SIZE: 'true' means use the logical block size
# reported by the underlying disk instead of the physical. The default
# is 'false'
ORACLEASM_USE_LOGICAL_BLOCK_SIZE=false
