
.vagrant
*.pub
LINUX.X64_*.zip

# ignore for ansible-navigator
playbooks/collections/ansible_collections
example/*/ansible/playbooks/collections/ansible_collections
ansible-navigator.log
navigator/replay/*json

