# cxoracle-install playbook
---
  - name: Install cx_oracle
    pip: name=cx_oracle state=present extra_args="{{ extra_args }}"
    with_items: "{{oracle_databases}}"
    when: install_cx_oracle
    tags: cx_oracle
    environment: "{{oracle_env}}"
