---
- name: install_home_db | Extract files to stage-area
  ansible.builtin.unarchive:
    src: "{{ oracle_stage }}/{{ item[0].filename }}"
    dest: "{{ oracle_stage }}/{{ item[0].version }}"
    copy: false
    creates: "{{ oracle_stage }}/{{ item[0].version }}/{{ item[0].creates }}"
  with_nested:
    - "{{ _oraswdb_install_oracle_sw_image_db }}"
    - ""  # dummy to force item.0 instead of item.
  become: true
  become_user: "{{ oracle_user }}"
  run_once: "{{ _oraswgi_meta_configure_cluster }}"
  when:
    - item[0].version == db_homes_config[dbh.home]['version']
    - oracle_sw_copy
    - oracle_sw_unpack
  tags:
    - oradbswunpack

- name: install_home_db | Extract files to stage-area (from remote location)
  ansible.builtin.unarchive:
    src: "{{ oracle_stage_remote }}/{{ item[0].filename }}"
    dest: "{{ oracle_stage }}/{{ item[0].version }}"
    copy: false
    creates: "{{ oracle_stage }}/{{ item[0].version }}/{{ item[0].creates }}"
  with_nested:
    - "{{ _oraswdb_install_oracle_sw_image_db }}"
    - ""  # dummy to force item.0 instead of item.
  become: true
  become_user: "{{ oracle_user }}"
  run_once: "{{ _oraswgi_meta_configure_cluster }}"
  when:
    - item[0].version == db_homes_config[dbh.home]['version']
    - not oracle_sw_copy
    - oracle_sw_unpack
  tags:
    - oradbswunpack

- name: install_home_db | Install Oracle Database Server
  ansible.builtin.shell: "{{ oracle_stage_install }}/{{ db_homes_config[dbh.home]['version'] }}/database/runInstaller -responseFile {{ oracle_rsp_stage }}/{{ _oraswdb_install_db_responsefile }} -ignorePrereq -ignoreSysPrereqs -silent -waitforcompletion"
  # noqa yaml command-instead-of-shell no-changed-when
  become: true
  become_user: "{{ oracle_user }}"
  run_once: "{{ _oraswgi_meta_configure_cluster }}"
  when: oracle_home_db not in existing_dbhome.stdout_lines
  tags:
    - oradbinstall
  register: oradbinstall

- ansible.builtin.debug:  # noqa name[missing] ignore-errors
    var: oradbinstall.stdout_lines
  run_once: "{{ _oraswgi_meta_configure_cluster }}"
  when: oracle_home_db not in existing_dbhome.stdout_lines and oradbinstall.changed
  tags:
    - oradbinstall
  ignore_errors: true
