---
- name: install_home_db | Install Oracle Database Server
  ansible.builtin.shell: "{{ oracle_stage_install }}/{{ db_homes_config[dbh.home]['version'] }}/database/runInstaller -responseFile {{ oracle_rsp_stage }}/{{ _oraswdb_install_db_responsefile }} -ignorePrereq -ignoreSysPrereqs -silent -waitforcompletion"
  # noqa yaml command-instead-of-shell no-changed-when
  become: true
  become_user: "{{ oracle_user }}"
  run_once: "{{ _oraswgi_meta_configure_cluster }}"
  when: oracle_home_db not in existing_dbhome.stdout_lines
  tags:
    - oradbinstall
  register: oradbinstall

- ansible.builtin.debug:  # noqa name[missing] ignore-errors
    var: oradbinstall.stdout_lines
  run_once: "{{ _oraswgi_meta_configure_cluster }}"
  when: oracle_home_db not in existing_dbhome.stdout_lines and oradbinstall.changed
  tags:
    - oradbinstall
  ignore_errors: true
