---
- name: install_home_db | Install Oracle Database Server
  ansible.builtin.shell: "{{ oracle_home_db }}/runInstaller -responseFile {{ oracle_rsp_stage }}/{{ _oraswdb_install_db_responsefile }} -ignorePrereq -silent -waitforcompletion"
  # noqa command-instead-of-shell no-changed-when
  become: true
  become_user: "{{ oracle_user }}"
  when:
    - _orasw_meta_primary_node | bool or _oraswdb_install_home_type=='SI'
    - oracle_home_db not in existing_dbhome.stdout_lines
  tags:
    - oradbinstall
  register: oradbinstall
  failed_when: oradbinstall.rc not in [0, 6]

- ansible.builtin.debug:  # noqa name[missing] ignore-errors no-handler
    var: oradbinstall.stdout_lines
  when:
    - _orasw_meta_primary_node | bool or _oraswdb_install_home_type=='SI'
    - oracle_home_db not in existing_dbhome.stdout_lines
    - oradbinstall.changed
  tags:
    - oradbinstall
  ignore_errors: true
