---
- name: install_home_db | Transfer oracle installfiles to server (www - curl)
  # get_url: url={{ oracle_sw_source_www }}/{{ item[0].filename }} dest={{ oracle_stage }} mode=0775 force=no
  ansible.builtin.shell: "curl -o {{ oracle_stage }}/{{ item[0].filename }} {{ oracle_sw_source_www }}/{{ item[0].filename }}"
  # noqa command-instead-of-shell command-instead-of-module
  with_nested:
    - "{{ oracle_sw_image_db }}"
    - "{{ oracle_databases }}"
  become: true
  become_user: "{{ oracle_user }}"
  run_once: "{{ configure_cluster }}"
  when: item[0].version == db_homes_config[item[1].home]['version'] and item[1].state|lower == 'present' and not is_sw_source_local and oracle_sw_copy
  args:
    creates: "{{ oracle_stage }}/{{ item[0].filename }}"
  tags:
    - oradbsw
