---
- name: install_home_db | Configure DB instances auto-startup service (init.d)
  ansible.builtin.template: src=dbora.j2 dest=/etc/init.d/dbora owner=root mode=750
  become: true
  when: autostartup_service and hostinitdaemon == "init"
  tags:
    - autostartup_service
    - seclimit  # Update

- name: install_home_db | Register dbora service (init.d)
  ansible.builtin.command: "chkconfig --add dbora"
  # noqa command-instead-of-module
  become: true
  when: autostartup_service and hostinitdaemon == "init"
  tags: autostartup_service
