# Lab playbook - sets up the host specific shit
---
# @var epel9_rpm:description: Url for epel-release-latest-8.noarch.rpm
# epel9_rpm: https://dl.fedoraproject.org/pub/epel/epel-release-latest-9.noarch.rpm
epel9_rpm: oracle-epel-release-el9

# @var epel8_rpm:description: Url for epel-release-latest-8.noarch.rpm
epel8_rpm: https://dl.fedoraproject.org/pub/epel/epel-release-latest-8.noarch.rpm

# @var epel7_rpm:description: Url for epel-release-latest-7.noarch.rpm
epel7_rpm: https://archives.fedoraproject.org/pub/archive/epel/7/x86_64/Packages/e/epel-release-7-14.noarch.rpm

# @var epel6_rpm:description: Url for epel-release-latest-6.noarch.rpm
epel6_rpm: https://dl.fedoraproject.org/pub/epel/epel-release-latest-6.noarch.rpm

# @var ol6_repo_file:description: >
# The variable is used to cleanup the yum repolist for old installations.
# @end
ol6_repo_file: public-yum-ol6.repo

# @var ol7_repo_file:description: >
# The variable is used to cleanup the yum repolist for old installations.
# @end
ol7_repo_file: public-yum-ol7.repo

install_os_packages: true
configure_epel_repo: true
configure_public_yum_repo: true

# @var configure_motd:description: Configure Message of the day
configure_motd: true

# @var scripts_folder:description: Folder under Oracle user home dir to place scripts in
scripts_folder: .Scripts

# @var motd_template:description: Used templatename for Message of the day
motd_template: motd.j2

# @var configure_ntp:description: >
# Configure ntpd or chrony on target system.
# The chrony or ntp is automatically chosen by `ntp_type`.
configure_ntp: true

# @var ntp_type:description: This is an internal variable only. Do not define it!
# @var ntp_type: $ "_unset_"
ntp_type: "{% if ansible_distribution_major_version | int >= 8 %}chrony\
             {%- else %}ntp\
             {%- endif %}"

# @var common_packages:description: This is an internal variable only. Do not define it!
# @var common_packages: $ "_unset_"
common_packages: "{% if ansible_distribution_major_version | int == 6 %}{{ common_packages_el6 }}\
                  {%- elif ansible_distribution_major_version | int == 7 %}{{ common_packages_el7 }}\
                  {%- elif ansible_distribution_major_version | int == 8 %}{{ common_packages_el8 }}\
                  {%- elif ansible_distribution_major_version | int == 9 %}{{ common_packages_el9 }}\
                  {%- else %}None\
                  {%- endif %}"

# @var common_packages_el6:description: >
# List of RPMs for RHEL6 or OL6
common_packages_el6:
  - screen
  - facter
  - procps
  - module-init-tools
  - ethtool
  - lsof
  - bc
  - nc
  - bind-utils
  - nfs-utils
  - make
  - sysstat
  - unzip
  - openssh-clients
  - compat-libcap1
  - collectl
  - rlwrap
  - tigervnc-server
  - ntp
  - expect
  - git
  - lvm2
  - xfsprogs
  - btrfs-progs
  - tmux
  - python-devel
  - python-pip
  - libselinux-python
  - twm
  - autofs
  - parted
  - mlocate
  - ksh
  - psmisc

# @var common_packages_el7:description: >
# List of RPMs for RHEL7 or OL7
common_packages_el7:
  - screen
  - facter
  - procps
  - module-init-tools
  - ethtool
  - lsof
  - bc
  - nc
  - bind-utils
  - nfs-utils
  - make
  - sysstat
  - unzip
  - openssh-clients
  - compat-libcap1
  - collectl
  - rlwrap
  - tigervnc-server
  - ntp
  - expect
  - git
  - lvm2
  - xfsprogs
  - btrfs-progs
  - python-devel
  - python-pip
  - libselinux-python
  - autofs
  - parted
  - mlocate
  - ksh
  - psmisc
  - grubby

# @var common_packages_el8:description: >
# List of RPMs for RHEL8 or OL8
common_packages_el8:
  - facter
  - procps
  - module-init-tools
  - ethtool
  - lsof
  - bc
  - binutils
  - elfutils-libelf
  - elfutils-libelf-devel
  - fontconfig-devel
  - glibc
  - glibc-devel
  - ksh
  - libaio
  - libaio-devel
  - libXrender
  - libX11
  - libXau
  - libXi
  - libXtst
  - libgcc
  - libnsl
  - librdmacm
  - libstdc++
  - libstdc++-devel
  - libxcb
  - libibverbs
  - make
  - smartmontools
  - sysstat
  - nc
  - bind-utils
  - nfs-utils
  - unzip
  - openssh-clients
  - rlwrap
  - tigervnc-server
  - expect
  - git
  - lvm2
  - xfsprogs
  - autofs
  - parted
  - mlocate
  - psmisc
  - python3
  - python3-pip
  - grubby

# @var common_packages_el8:description: >
# List of RPMs for RHEL8 or OL8
common_packages_el9:
  - facter
  - lsof
  - nc
  - rlwrap
  - expect
  - git
  - lvm2
  - xfsprogs
  - autofs
  - parted
  - mlocate
  - python3
  - python3-pip
  - bind-utils
  - binutils
  - ethtool
  - glibc
  - glibc-devel
  - initscripts
  - ksh
  - libaio
  - libaio-devel
  - libgcc
  - libnsl
  - libstdc++
  - libstdc++-devel
  - make
  - module-init-tools
  - net-tools
  - nfs-utils
  - openssh-clients
  - pam
  - policycoreutils
  - policycoreutils-python-utils
  - procps
  - psmisc
  - smartmontools
  - sysstat
  - tar
  - unzip
  - util-linux-ng
  - xorg-x11-utils
  - xorg-x11-xauth
  - grubby

# @var common_packages_sles:description: >
# List of RPMs for SuSE Linux Enterprise Server
common_packages_sles:
  - screen
  - procps
  - module-init-tools
  - ethtool
  - bc
  - bind-utils
  - make
  - sysstat
  - unzip
  - chrony
  - expect
  - lvm2
  - autofs
