[defaults]
inventory = inventory/rac

host_key_checking = False
# display_skipped_hosts = false
duplicate_dict_key = ignore

nocolor = 1
retry_files_enabled = False

# callbacks_enabled = timer, profile_roles

[ssh_connection]
pipelining = True

# needed for devsec ssh-role
scp_if_ssh = True

ssh_args = -o ControlMaster=auto -o ControlPersist=60s
