---
_oraasm_manage_diskgroups_asmdevice_list: |-
  {%- for disk in ad_loop.disk -%}
  {%- if device_persistence == 'asmlib' -%}
  {device:'{{ _oracle_asm_disk_prefix }}{{ disk.asmlabel | upper }}'
  {%- elif device_persistence == 'asmfd' -%}
  {device:'AFD:{{ disk.asmlabel | upper }}'
  {%- elif device_persistence == 'udev' -%}
  {device:'{{ _oracle_asm_disk_prefix }}{{ disk.asmlabel }}'
  {%- elif device_persistence == '' -%}
  {device:'{{ disk.device }}'
  {%- endif %}
  {%- if disk.failure_group is defined -%},failure_group:'{{ disk.failure_group }}'{%- endif %}
  {%- if disk.quorum is defined -%},quorum:{{ disk.quorum }}{%- endif %}}
  {%- if not loop.last -%},{%- endif %}
  {%- endfor %}

_oraasm_manage_diskgroups_attr_name: |-
  {% if ad_loop.attributes is defined %}
  {{- ad_loop.attributes | default(omit) | map(attribute='name') | list }}
  {%- else %}None{% endif %}

_oraasm_manage_diskgroups_attr_value: |-
  {% if ad_loop.attributes is defined %}
  {{- ad_loop.attributes | default(omit) | map(attribute='value') | list }}
  {%- else %}None{% endif %}

_oracle_asm_disk_prefix: |-
  {%- if device_persistence == 'asmlib' %}
  {%- if oracle_asm_disk_string.endswith('*') %}{{ oracle_asm_disk_string[:-1] }}
  {%- else %}{{ oracle_asm_disk_string }}
  {%- endif %}
  {%- elif device_persistence == 'udev' %}{{ oracle_asm_disk_string }}
  {%- else %}
  {%- endif %}
