
----------------------------------------
Welcome to {{ ansible_hostname }}
{{ ansible_distribution }} {{ ansible_distribution_version }} {{ ansible_userspace_architecture }}

FQDN: {{ ansible_fqdn }}
IP:   {{ ansible_default_ipv4.address }}

Processor: {% for processor in ansible_processor %}{% if loop.last %}{{ processor }} {% endif %}
{% endfor %}

#CPU's:    {{ ansible_processor_vcpus }} 
Memory:    {{ ansible_memtotal_mb }} MB
Kernel:    {{ ansible_kernel }}

----------------------------------------

