---
- name: Asmlib
  when:
    - device_persistence == 'asmlib'
    - asm_diskgroups is defined
  tags:
    - asmlibconfig
    - asmstorage
  block:
    - name: ASM-storage | create asmlib labels
      ansible.builtin.shell: "{{ asmlib_binary }} createdisk {{ item.1.asmlabel }} {{ item.1.device }}{{ partition_suffix }}"
      # noqa command-instead-of-shell
      args:
        creates: "/dev/oracleasm/disks/{{ item.1.asmlabel | upper }}"
      with_subelements:
        - "{{ asm_diskgroups }}"
        - disk
      loop_control:
        label: "asmdisk={{ item.1.asmlabel | default('') }} device={{ item.1.device | default('') }}{{ partition_suffix | default('') }}"
      run_once: "{{ _oraswgi_meta_configure_cluster }}"

    - name: ASMlib | Rescan ASM disks
      ansible.builtin.shell: "{{ asmlib_binary }} scandisks"
      # noqa command-instead-of-shell
      changed_when: false

    - name: ASMlib | List ASM disks
      ansible.builtin.shell: "{{ asmlib_binary }} listdisks"
      # noqa command-instead-of-shell
      register: listdisks
      changed_when: false

    - name: ASMlib | List ASM disks
      ansible.builtin.debug:
        var: listdisks.stdout_lines
