oracle.assistants.asm|S_ASMPASSWORD={%if sysasmpassword is defined %}{{ sysasmpassword}}{% else %}{{default_gipass}}{% endif %}

oracle.assistants.asm|S_ASMMONITORPASSWORD={%if asmmonitorpassword is defined %}{{ asmmonitorpassword}}{% else %}{{default_gipass}}{% endif %}
