---
- ansible.builtin.debug: msg="ORACLE_BASE_HOME {{ listener_home_config }}"  # noqa unnamed-task
  tags: sqlnet2

- name: sqlnet.ora | create IFILE entry in sqlnet.ora
  ansible.builtin.lineinfile:
    line: "IFILE={{ listener_home_config }}/network/admin/sqlnet_ansible.ora"
    regexp: "^IFILE=/"
    insertbefore: BOF
    path: "{{ listener_home_config }}/network/admin/sqlnet.ora"
    backup: true
    create: true
    group: "{{ oracle_group }}"
    owner: "{{ oracle_user }}"
    state: present
    mode: 0644
  tags: sqlnet2

- name: sqlnet.ora | create custom configuration in sqlnet_ansible.ora
  ansible.builtin.lineinfile:
    path: "{{ listener_home_config }}/network/admin/sqlnet_ansible.ora"
    line: "{{ item.name }}={{ item.value }}"
    regexp: "^{{ item.name }}="
    backup: true
    create: true
    group: "{{ oracle_group }}"
    owner: "{{ oracle_user }}"
    state: present
    mode: 0644
  with_items:
    - "{{ sqlnet_config[sqlnetinst.sqlnet] }}"
  tags: sqlnet2
