{% for disk in asm_storage_layout[item] %}
{% if use_partition_devices  %}
KERNEL=="{{ disk.device.split("/")[-1]  }}{{partition_suffix}}", NAME="{{oracle_asm_disk_string.split("/",2)[-1] }}{{ disk.asmlabel }}", OWNER="{{ grid_install_user }}", GROUP="{{ asmadmin_group }}", MODE="0660"
{% elif not use_partition_devices  %}
KERNEL=="{{ disk.device.split("/")[-1]  }}", NAME="{{oracle_asm_disk_string.split("/",2)[-1] }}{{ disk.asmlabel }}", OWNER="{{ grid_install_user }}", GROUP="{{ asmadmin_group }}", MODE="0660"
{% endif %}
{% endfor %}
