#!/bin/bash

while read -r asmlabel device
do

{% if multipath=='dm-multipath' %}
partno=p1
{% else %}
partno=1
{% endif %}

{% if use_partition_devices %}
used_device=${device}${partno}
{% elif not use_partition_devices %}
used_device=${device}
{% endif %}



#if [[ $# -ne 2 ]]; then
# echo "Usage: $0 LABEL DISK"
# echo "       i.e: $0 DATA04 /dev/sdh1"
# exit 1
#fi

if [[ ${device} == /dev/sda ]]; then
 echo "Trying to use root disk. Exiting"
 continue
fi

if [[ ! -e ${used_device} ]]; then
 echo "Error: Partition ${used_device} does not exist"
 continue
fi

chkdisk=`service oracleasm querydisk ${used_device} |grep 'is marked an ASM disk' |wc -l`
if [[ $chkdisk == 1 ]]; then
 echo "Error: ${used_device} is already marked as ASM-disk"
 continue
fi

echo "Creating ASM Label ${asmlabel} on ${used_device}"
service oracleasm createdisk ${asmlabel} ${used_device}
service oracleasm querydisk  ${used_device}

done < {{ oracle_rsp_stage }}/asm-label-device-mapping-{{ item.diskgroup }}.txt
