#!/bin/bash
TEMPFILE=/tmp/udev-temp-file
UDEVRULE=/etc/udev/rules.d/99-asm-devices.rules
scsi_id_bin={% if ansible_distribution_major_version == '6' %}/sbin/scsi_id{% elif ansible_distribution_major_version == '7' %}/usr/lib/udev/scsi_id{% endif %}


if [[ -f $TEMPFILE ]]; then
   rm -f $TEMPFILE
fi

while read -r device label owner group
do

if [[ ${device} == /dev/sda ]]; then
 echo "Trying to use root disk. Exiting"
 continue
fi

scsiid=`$scsi_id_bin -g -u -d $device`
chkexist=`grep $scsiid $UDEVRULE |wc -l`
if [[ $chkexist == 1 ]]; then
 echo "Error: $scsiid is already present. Exiting"
 continue
fi
{% if use_partition_devices %}
{% if ansible_distribution_major_version == '6' %}
echo "KERNEL==\"sd?1\", BUS==\"scsi\", PROGRAM==\"$scsi_id_bin -g -u -d /dev/\$parent\", RESULT==\"$scsiid\", NAME=\"$label\", OWNER=\"$owner\", GROUP=\"$group\", MODE=\"0660\"" >> $TEMPFILE
{% elif ansible_distribution_major_version == '7' %}
echo "KERNEL==\"sd?1\", SUBSYSTEM==\"block\", PROGRAM==\"$scsi_id_bin -g -u -d /dev/\$parent\", RESULT==\"$scsiid\", SYMLINK+=\"$label\", OWNER=\"$owner\", GROUP=\"$group\", MODE=\"0660\"" >> $TEMPFILE
{% endif %}
{% elif not use_partition_devices %}
{% if ansible_distribution_major_version == '6' %}
echo "KERNEL==\"sd?\", BUS==\"scsi\", PROGRAM==\"$scsi_id_bin -g -u -d /dev/\$parent\", RESULT==\"$scsiid\", NAME=\"$label\", OWNER=\"$owner\", GROUP=\"$group\", MODE=\"0660\"" >> $TEMPFILE
{% elif ansible_distribution_major_version == '7' %}
echo "KERNEL==\"sd?\", SUBSYSTEM==\"block\", PROGRAM==\"$scsi_id_bin -g -u -d /dev/\$parent\", RESULT==\"$scsiid\", SYMLINK+=\"$label\", OWNER=\"$owner\", GROUP=\"$group\", MODE=\"0660\"" >> $TEMPFILE
{% endif %}
{% endif %}
done < {{ oracle_rsp_stage }}/udev-device-input.txt

if [[ -f $TEMPFILE ]]; then
   cp -f $TEMPFILE $UDEVRULE
   exit 0
else
   exit 0
fi
