{% for disk in  item.disk    %}
{{ disk.device }} {{oracle_asm_disk_string.split("/",2)[-1] }}{{ disk.asmlabel }} {{ grid_install_user }} {% if role_separation==True %}{{ asmdba_group }}{% else %}{{ dba_group }}{% endif %}

{% endfor %}
