# {{ ansible_managed }}
#!/bin/bash
{{ oracle_home_gi }}/bin/asmca   -silent     -configureASM \
                -sysAsmPassword {{ oracle_password }} \
                -asmsnmpPassword {{ oracle_password }} \
                -diskGroupName {{ oracle_asm_init_dg }} \
                        -disk '{{ oracle_asm_crs_disks }}' \
                        -redundancy EXTERNAL \
                        -au_size 1 \
                        -compatible.asm 12.1.0.0.0 \
                        -compatible.rdbms 11.2.0.0.0 \
                        -compatible.advm 11.2.0.0.0
