Welcome to {{ ansible_hostname }}
OracleLinux 6.5 x86_64

FQDN: {{ ansible_fqdn }}
IP:   

Processor: {{ ansible_processor }}
#CPU's:    2 
Memory:    3.85 GB

Uptime: 2:29 hours


Welcome to {{ ansible_fqdn }}
{{ ansible_lsb.description }} {{ ansible_userspace_architecture }}
Kernel: {{ ansible_kernel }}
#cpu's: {{ ansible_processor_vcpus }} 
mem: {{ ansible_memtotal_mb }} MB


