

Welcome to {{ ansible_fqdn }}
{{ ansible_lsb.description }} {{ ansible_userspace_architecture }}
Kernel: {{ ansible_kernel }}
#cpu's: {{ ansible_processor_vcpus }} 
mem: {{ ansible_memtotal_mb }} MB


