---------------------------------------
Welcome to {{ ansible_fqdn }}
{{ ansible_distribution }} {{ ansible_distribution_version }} {{ ansible_userspace_architecture }}

FQDN: {{ ansible_fqdn }}
IP:   {{ ansible_default_ipv4.address }}

#cpu's:    {{ ansible_processor_vcpus }} 
mem:       {{ ansible_memtotal_mb }} MB
Kernel:    {{ ansible_kernel }}

---------------------------------------
