DEVICE={{ oracle_gi_nic_priv }}
IPADDR={{ oracle_ic_net }}
NETMASK=255.255.255.0
ONBOOT=yes
BOOTPROTO=none
USERCTL=no
TYPE=Ethernet
HWADDR={{ hostvars[inventory_hostname]['ansible_' + oracle_gi_nic_priv]['macaddress'] }}
