------------------------------------------
Welcome to {{ ansible_fqdn }}
{{ ansible_lsb.description }} {{ ansible_userspace_architecture }}

FQDN: {{ ansible_fqdn }}
IP:   {{ ansible_default_ipv4.address }}

Kernel: {{ ansible_kernel }}
#cpu's: {{ ansible_processor_vcpus }} 
mem:    {{ ansible_memtotal_mb }} MB


------------------------------------------
