# {{ ansible_managed }}
# Oracle recommended security limits

{% if role_separation %}
{% for stuff in oracle_seclimits %}
{{ grid_install_user }} {{ stuff.name }} {{ stuff.value }}
{% endfor %}

{% for stuff in oracle_seclimits %}
{{ oracle_user }} {{ stuff.name }} {{ stuff.value }}
{% endfor %}

{% elif not role_separation %}
{% for stuff in oracle_seclimits %}
{{ oracle_user }} {{ stuff.name }} {{ stuff.value }}
{% endfor %}

{% endif %}
