---
- name: install_home_gi | Copy oracle installfiles to server (GI) (web - get_url)
  ansible.builtin.get_url:
    url: "{{ item.filesource | default(oracle_sw_source_www + '/' + item.filename, true) }}"
    dest: "{{ oracle_stage }}/{{ item.filename }}"
    mode: "0775"
    force: false
  with_items: "{{ oracle_sw_image_gi }}"
  become: true
  become_user: "{{ _grid_install_user }}"
  tags:
    - oragridsw
  when: oracle_home_gi not in checkgiinstall.stdout and oracle_install_version_gi == item.version and not is_sw_source_local and oracle_sw_copy
