---
- name: main_install | Create ORACLE_HOME directory (GI)
  ansible.builtin.file:
    dest: "{{ oracle_home_gi }}"
    owner: "{{ _grid_install_user }}"
    group: "{{ oracle_group }}"
    state: directory
    mode: "0775"
  become: true
  tags:
    - directories
  when: oracle_home_gi not in checkgiinstall.stdout

- name: main_install | Download oracle installfiles to server (GI) (www)
  ansible.builtin.include_tasks: "{{ www_download_bin }}.yml"  # noqa name[missing]
  when:
    - _orasw_meta_primary_node | bool
    - not is_sw_source_local
    - oracle_sw_copy

- name: main_install | Copy oracle installfiles to server (GI) (local)
  ansible.builtin.copy:
    src: "{{ item.filesource | default(oracle_sw_source_local + '/' + item.filename, true) }}"
    dest: "{{ oracle_stage }}"
    mode: "0775"
    force: false
  with_items: "{{ oracle_sw_image_gi | selectattr('version', 'equalto', oracle_install_version_gi) }}"
  become: true
  become_user: "{{ _grid_install_user }}"
  tags:
    - oragridsw
  when:
    - _orasw_meta_primary_node | bool
    - oracle_home_gi not in checkgiinstall.stdout
    - is_sw_source_local
    - oracle_sw_copy

# root.sh is executed on all cluster nodes.
# => Do NOT limit the following include to 1st node!
- name: main_install | include_tasks {{ oracle_install_version_gi }}
  ansible.builtin.include_tasks: "{{ oracle_install_version_gi }}.yml"
  tags: always
