#
# This file is needed for ansible-doctor
# Due to dependency issues between ansible-lint and ansible-doctor,
# a dedicated venv is needed for ansible-doctor.
# See following issue for reason:
# https://github.com/thegeeklab/ansible-doctor/issues/495
#
# create python-venv:
# python3 -m venv ~/venv/ansible-doctor
#
# install with:
# . ~/venv/ansible-doctor/bin/activate
# pip --require-virtualenv -v install -r tools/dev/requirements_doctor.txt
#
# execute ansible-doctor:
# ~/venv/ansible-doctor/bin/ansible-doctor
#
ansible-doctor==4.0.1
