#
# This file is for all developer who wants to use the usual tools in ansible-oracle.
#
# pip modules for ansible-oracle development
# Important:
# Make sure to use Python >= 3.9 for ansible-lint.
#
# create python-venv:
# python3 -m venv ~/venv/ansible-oracle
#
# install with:
# . ~/venv/ansible-oracle/bin/activate
# pip --require-virtualenv -v install -r tools/dev/requirements_dev.txt
#
ansible-core<2.17
ansible-builder==3.1.0
ansible-lint==24.7.0
ansible-navigator==24.8.0
pre-commit==3.4.0

# docker is needed by molecule
docker==6.1.3
molecule==24.8.0
molecule-plugins[docker]==23.5.3

# xmltodict is needed for ansible.utils.keep_keys
xmltodict==0.13.0
