#
# This file is needed for antsibull-changelog
#
# create python-venv:
# python3 -m venv ~/venv/antsibull
#
# install with:
# . ~/venv/antsibull/bin/activate
# pip --require-virtualenv -v install -r tools/dev/requirements_ansibull.txt
#
# execute antsibull-changelog:
# ~/venv/antsibull/bin/antsibull-changelog
#
# older version of ansible is needed for ansible-oracle
# otherwise the ansible-doc gets errors due to problems with ansible-oracle-modules
# They need some refactoring...
ansible-core==2.15.9
antsibull-changelog==0.29.0
