#!/usr/bin/expect -f
spawn {{ oracle_home_gi }}/OPatch/ocm/bin/emocmrsp -no_banner -output {{ oracle_psu_stage }}/{{ oracle_install_version_gi }}/ocm.rsp
expect {
  "Email address/User Name:"
  {
    send "\r"
    exp_continue
  }
  "Do you wish to remain uninformed of security issues*"
  {
    send "Y\r"
    exp_continue
  }
}

