--
-- Copyright (c) 1988, 2011, Oracle and/or its affiliates.
-- All rights reserved.
--
-- NAME
--   glogin.sql
--
-- DESCRIPTION
--   SQL*Plus global login "site profile" file
--
--   Add any SQL*Plus commands here that are to be executed when a
--   user starts SQL*Plus, or uses the SQL*Plus CONNECT command.
--
-- USAGE
--   This script is automatically run
--
{% if item.glogin is defined %}
{% for line in item.glogin %}
{{ line }}
{% endfor %}
{% elif item.oracle_version_db >= '12.1.0.1' and item.is_container %}
{% for item in glogin_default_cdb %}
{{ item }}
{% endfor %}
{% else %}
{% for item in glogin_default_nocdb %}
{{ item }}
{% endfor %}
{% endif %}
