# {{ ansible_managed }}
#!/bin/bash

chkifinstalled=`grep "{{ oracle_home_db }}" "{{ oracle_inventory_loc }}/ContentsXML/inventory.xml" |wc -l`
if [[ $chkifinstalled == 1 ]]; then
 echo "Error: ORACLE_HOME: {{ oracle_home_db }} already present. Exiting"
 exit 0
else
{{ oracle_stage_install }}/{{ item.0.oracle_version_db }}/database/runInstaller -responseFile {{ oracle_rsp_stage }}/{{ oracle_db_responsefile }} -ignorePrereq -ignoreSysPrereqs -silent -waitforcompletion
fi
