
emlab =
  (DESCRIPTION =
    (ADDRESS = (PROTOCOL = TCP)(HOST = olem01.discworld.net)(PORT = 1521))
    (CONNECT_DATA =
      (SERVER = DEDICATED)
      (SERVICE_NAME = emlab)
    )
  )
rcatlab =
  (DESCRIPTION =
    (ADDRESS = (PROTOCOL = TCP)(HOST = olem01.discworld.net)(PORT = 1521))
    (CONNECT_DATA =
      (SERVER = DEDICATED)
      (SERVICE_NAME = rcatlab)
    )
  )
