[defaults]

host_key_checking = False
display_skipped_hosts = false
duplicate_dict_key = ignore

nocolor = 1
retry_files_enabled = False

interpreter_python = auto_legacy_silent

callbacks_enabled = timer
stdout_callback=yaml

[ssh_connection]
pipelining = True

# needed for devsec ssh-role
scp_if_ssh = True
