# {{ ansible_managed }}
##############################################################################
##                                                                          ##
##                            DBCA response file                            ##
##                            ------------------                            ##
## Copyright   1998, 2014, Oracle Corporation. All Rights Reserved.         ##
##                                                                          ##
## Specify values for the variables listed below to customize Oracle        ##
## Database Configuration installation.                                     ##
##                                                                          ##
## Each variable is associated with a comment. The comment identifies the   ##
## variable type.                                                           ##
##                                                                          ##
## Please specify the values in the following format :                      ##
##          Type       :  Example                                           ##
##          String     :  "<value>"                                         ##
##          Boolean    :  True or False                                     ##
##          Number     :  <numeric value>                                   ##
##          StringList :  {"<value1>","<value2>"}                           ##
##                                                                          ##
## Examples :                                                               ##
##     1. dbca -progress_only -responseFile <response file>                 ##
##        Display a progress bar depicting progress of database creation    ##
##        process.                                                          ##
##                                                                          ##
##     2. dbca -silent -responseFile <response file>                        ##
##        Creates database silently. No user interface is displayed.        ##
##                                                                          ##
##     3. dbca -silent -createDatabase -cloneTemplate                       ##
##			 -responseFile <response file>                      ##
##        Creates database silently with clone template. The template in    ##
##	  responsefile is a clone template. 			            ##
##                                                                          ##
##     4. dbca -silent -deleteDatabase -responseFile <response file>        ##
##        Deletes database silently.                                        ##
##############################################################################

#-----------------------------------------------------------------------------
# GENERAL section is required for all types of database creations.
#-----------------------------------------------------------------------------
[GENERAL]

#-----------------------------------------------------------------------------
# Name          : RESPONSEFILE_VERSION
# Datatype      : String
# Description   : Version of the database to create
# Valid values  : "12.1.0"
# Default value : None
# Mandatory     : Yes
#-----------------------------------------------------------------------------
RESPONSEFILE_VERSION = "12.1.0"

#-----------------------------------------------------------------------------
# Name          : OPERATION_TYPE
# Datatype      : String
# Description   : Type of operation
# Valid values  : "createDatabase" \ "createTemplateFromDB" \ "createCloneTemplate" \ "deleteDatabase" \ "configureDatabase" \ "addInstance" (RAC-only) \ "deleteInstance" (RAC-only) \ "createPluggableDatabase" \ "unplugDatabase" \ "deletePluggableDatabase" \ "configurePluggableDatabase"
# Default value : None
# Mandatory     : Yes
#-----------------------------------------------------------------------------
OPERATION_TYPE = "createDatabase"

#-----------------------*** End of GENERAL section ***------------------------

#-----------------------------------------------------------------------------
# CREATEDATABASE section is used when OPERATION_TYPE is defined as "createDatabase".
#-----------------------------------------------------------------------------
[CREATEDATABASE]

#-----------------------------------------------------------------------------
# Name          : GDBNAME
# Datatype      : String
# Description   : Global database name of the database
# Valid values  : <db_name>.<db_domain> - when database domain isn't NULL
#                 <db_name>             - when database domain is NULL
# Default value : None
# Mandatory     : Yes
#-----------------------------------------------------------------------------
GDBNAME = "{{ item.0.oracle_db_name }}"

#-----------------------------------------------------------------------------
# Name          : DATABASECONFTYPE
# Datatype      : String
# Description   : database conf type as Single Instance, Real Application Cluster or Real Application Cluster One Nodes database
# Valid values  : SI\RAC\RACONENODE
# Default value : SI
# Mandatory     : No
#-----------------------------------------------------------------------------
DATABASECONFTYPE  = {{ item.0.oracle_db_type }}

#-----------------------------------------------------------------------------
# Name          : RACONENODESERVICENAME
# Datatype      : String
# Description   : Service is required by application to connect to RAC One
#		  Node Database
# Valid values  : Service Name
# Default value : None
# Mandatory     : No [required in case DATABASECONFTYPE is set to RACONENODE ]
#-----------------------------------------------------------------------------
{% if item.0.oracle_db_type|upper == 'RACONENODE' %}
RACONENODESERVICENAME={{ item.0.service_name }}
{% else %}
#RACONENODESERVICENAME =
{% endif %}

#-----------------------------------------------------------------------------
# Name          : POLICYMANAGED
# Datatype      : Boolean
# Description   : Set to true if Database is policy managed and
#		  set to false if  Database is admin managed
# Valid values  : TRUE\FALSE
# Default value : FALSE
# Mandatory     : No
#-----------------------------------------------------------------------------
#POLICYMANAGED = "false"

#-----------------------------------------------------------------------------
# Name          : CREATESERVERPOOL
# Datatype      : Boolean
# Description   : Set to true if new server pool need to be created for database
#		  if this option is specified then the newly created database
#		  will use this newly created serverpool.
#		  Multiple serverpoolname can not be specified for database
# Valid values  : TRUE\FALSE
# Default value : FALSE
# Mandatory     : No
#-----------------------------------------------------------------------------
#CREATESERVERPOOL = "false"

#-----------------------------------------------------------------------------
# Name          : SERVERPOOLNAME
# Datatype      : String
# Description   : Only one serverpool name need to be specified
#		   if Create Server Pool option is specified.
#		   Comma-separated list of Serverpool names if db need to use
#		   multiple Server pool
# Valid values  : ServerPool name

# Default value : None
# Mandatory     : No [required in case of RAC service centric database]
#-----------------------------------------------------------------------------
#SERVERPOOLNAME =

#-----------------------------------------------------------------------------
# Name          : CARDINALITY
# Datatype      : Number
# Description   : Specify Cardinality for create server pool operation

# Valid values  : any positive Integer value
# Default value : Number of qualified nodes on cluster
# Mandatory     : No [Required when a new serverpool need to be created]
#-----------------------------------------------------------------------------
#CARDINALITY =




#-----------------------------------------------------------------------------
# Name          : FORCE
# Datatype      : Boolean
# Description   : Set to true if new server pool need to be created by force
#		  if this option is specified then the newly created serverpool
#		  will be assigned server even if no free servers are available.
#		  This may affect already running database.
#		  This flag can be specified for Admin managed as well as policy managed db.
# Valid values  : TRUE\FALSE
# Default value : FALSE
# Mandatory     : No
#-----------------------------------------------------------------------------
#FORCE = "false"



#-----------------------------------------------------------------------------
# Name          : PQPOOLNAME
# Datatype      : String
# Description   : Only one serverpool name needs to be specified
#		   if create server pool option is specified.
#		   Comma-separated list of serverpool names if use
#		   server pool. This is required to
#                  create Parallel Query (PQ) database. Applicable to Big Cluster
# Valid values  :  Parallel Query (PQ) pool name
# Default value : None
# Mandatory     : No [required in case of RAC service centric database]
#-----------------------------------------------------------------------------
#PQPOOLNAME =

#-----------------------------------------------------------------------------
# Name          : PQCARDINALITY
# Datatype      : Number
# Description   : Specify Cardinality for create server pool operation.
#                 Applicable to Big Cluster
# Valid values  : any positive Integer value
# Default value : Number of qualified nodes on cluster
# Mandatory     : No [Required when a new serverpool need to be created]
#-----------------------------------------------------------------------------
#PQCARDINALITY =




#-----------------------------------------------------------------------------
# Name          : SID
# Datatype      : String
# Description   : System identifier (SID) of the database
# Valid values  : Check Oracle12c Administrator's Guide
# Default value : <db_name> specified in GDBNAME
# Mandatory     : No
#-----------------------------------------------------------------------------
SID = "{{ item.0.oracle_db_name }}"

#-----------------------------------------------------------------------------
# Name          : CREATEASCONTAINERDATABASE
# Datatype      : boolean
# Description   : flag to create database as container database
# Valid values  : Check Oracle12c Administrator's Guide
# Default value : false
# Mandatory     : No
#-----------------------------------------------------------------------------
CREATEASCONTAINERDATABASE = "{{ item.0.is_container }}"

#-----------------------------------------------------------------------------
# Name          : NUMBEROFPDBS
# Datatype      : Number
# Description   : Specify the number of pdb to be created
# Valid values  : 0 to 252
# Default value : 0
# Mandatory     : No
#-----------------------------------------------------------------------------
NUMBEROFPDBS = "{{ item.0.num_pdbs }}"

#-----------------------------------------------------------------------------
# Name          : PDBNAME
# Datatype      : String
# Description   : Specify the pdbname/pdbanme prefix if one or more pdb need to be created
# Valid values  : Check Oracle12c Administrator's Guide
# Default value : None
# Mandatory     : No
#-----------------------------------------------------------------------------
PDBNAME = "{{ item.0.pdb_prefix }}"

#-----------------------------------------------------------------------------
# Name          : PDBADMINPASSWORD
# Datatype      : String
# Description   : PDB Administrator user password
# Valid values  : Check Oracle12c Administrator's Guide
# Default value : None
# Mandatory     : No
#-----------------------------------------------------------------------------
PDBADMINPASSWORD = "{{ item.0.oracle_db_passwd }}"

#-----------------------------------------------------------------------------
# Name          : NODELIST
# Datatype      : String
# Description   : Comma-separated list of cluster nodes
# Valid values  : Cluster node names
# Default value : None
# Mandatory     : No (Yes for RAC database-centric database )
#-----------------------------------------------------------------------------
{% if configure_cluster==True and item.0.oracle_db_type|upper != "SI" and item.0.oracle_db_type|upper != "SIFO"  and oracle_gi_cluster_type |upper == 'FLEX' %}
NODELIST={% for host in groups[hostgroup_hub] -%} {{host}} {%- if not loop.last -%} , {%- endif -%} {%- endfor %}
{% elif configure_cluster==True and item.0.oracle_db_type|upper != "SI" and item.0.oracle_db_type|upper != "SIFO"  and oracle_gi_cluster_type |upper != 'FLEX' %}
NODELIST={% for host in groups[hostgroup] -%} {{host}} {%- if not loop.last -%} , {%- endif -%} {%- endfor %}
{% else %}
#NODELIST=
{% endif %}

#-----------------------------------------------------------------------------
# Name          : TEMPLATENAME
# Datatype      : String
# Description   : Name of the template
# Valid values  : Template file name
# Default value : None
# Mandatory     : Yes
#-----------------------------------------------------------------------------
{% if item.0.dbca_templatename is defined %}
TEMPLATENAME = "{{item.0.dbca_templatename}}"
{% else %}
TEMPLATENAME = "{{dbca_templatename}}"
{% endif %}

#-----------------------------------------------------------------------------
# Name          : OBFUSCATEDPASSWORDS
# Datatype      : Boolean
# Description   : Set to true if passwords are encrypted
# Valid values  : TRUE\FALSE
# Default value : FALSE
# Mandatory     : No
#-----------------------------------------------------------------------------
#OBFUSCATEDPASSWORDS = FALSE


#-----------------------------------------------------------------------------
# Name          : SYSPASSWORD
# Datatype      : String
# Description   : Password for SYS user
# Valid values  : Check Oracle12c Administrator's Guide
# Default value : None
# Mandatory     : Yes
#-----------------------------------------------------------------------------
SYSPASSWORD = "{{ item.0.oracle_db_passwd }}"

#-----------------------------------------------------------------------------
# Name          : SYSTEMPASSWORD
# Datatype      : String
# Description   : Password for SYSTEM user
# Valid values  : Check Oracle12c Administrator's Guide
# Default value : None
# Mandatory     : Yes
#-----------------------------------------------------------------------------
SYSTEMPASSWORD = "{{ item.0.oracle_db_passwd }}"

#-----------------------------------------------------------------------------
# Name          : SERVICEUSERPASSWORD
# Datatype      : String
# Description   : Password for Windows Service user
# Default value : None
# Mandatory     : If Oracle home is installed with windows service user
#-----------------------------------------------------------------------------
#SERVICEUSERPASSWORD = "password"

#-----------------------------------------------------------------------------
# Name          : EMCONFIGURATION
# Datatype      : String
# Description   : Enterprise Manager Configuration Type
# Valid values  : CENTRAL|DBEXPRESS|ALL|NONE
# Default value : NONE
# Mandatory     : No
#-----------------------------------------------------------------------------
EMCONFIGURATION = "NONE"


#-----------------------------------------------------------------------------
# Name          : EMEXPRESSPORT
# Datatype      : Number
# Description   : Enterprise Manager Configuration Type
# Valid values  : Check Oracle12c Administrator's Guide
# Default value : NONE
# Mandatory     : No, will be picked up from DBEXPRESS_HTTPS_PORT env variable
#                 or auto generates a free port between 5500 and 5599
#-----------------------------------------------------------------------------
#EMEXPRESSPORT = ""


#-----------------------------------------------------------------------------
# Name          : RUNCVUCHECKS
# Datatype      : Boolean
# Description   : Specify whether to run Cluster Verification Utility checks
#                 periodically in Cluster environment
# Valid values  : TRUE\FALSE
# Default value : FALSE
# Mandatory     : No
#-----------------------------------------------------------------------------
#RUNCVUCHECKS = FALSE

#-----------------------------------------------------------------------------
# Name          : DBSNMPPASSWORD
# Datatype      : String
# Description   : Password for DBSNMP user
# Valid values  : Check Oracle12c Administrator's Guide
# Default value : None
# Mandatory     : Yes, if EMCONFIGURATION is specified or
#                 the value of RUNCVUCHECKS is TRUE
#-----------------------------------------------------------------------------
DBSNMPPASSWORD = "{{ item.0.oracle_db_passwd }}"

#-----------------------------------------------------------------------------
# Name          : OMSHOST
# Datatype      : String
# Description   : EM management server host name
# Default value : None
# Mandatory     : Yes, if CENTRAL is specified for EMCONFIGURATION
#-----------------------------------------------------------------------------
#OMSHOST =

#-----------------------------------------------------------------------------
# Name          : OMSPORT
# Datatype      : Number
# Description   : EM management server port number
# Default value : None
# Mandatory     : Yes, if CENTRAL is specified for EMCONFIGURATION
#-----------------------------------------------------------------------------
#OMSPORT =

#-----------------------------------------------------------------------------
# Name          : EMUSER
# Datatype      : String
# Description   : EM Admin username to add or modify targets
# Default value : None
# Mandatory     : Yes, if CENTRAL is specified for EMCONFIGURATION
#-----------------------------------------------------------------------------
#EMUSER =

#-----------------------------------------------------------------------------
# Name          : EMPASSWORD
# Datatype      : String
# Description   : EM Admin user password
# Default value : None
# Mandatory     : Yes, if CENTRAL is specified for EMCONFIGURATION
#-----------------------------------------------------------------------------
#EMPASSWORD=


#-----------------------------------------------------------------------------
# Name          : DVCONFIGURATION
# Datatype      : Boolean
# Description   : Specify "True" to configure and enable Oracle Database vault
# Valid values  : True/False
# Default value : False
# Mandatory     : No
#-----------------------------------------------------------------------------
#DVCONFIGURATION = "false"

#-----------------------------------------------------------------------------
# Name          : DVOWNERNAME
# Datatype      : String
# Description   : DataVault Owner
# Valid values  : Check Oracle12c Administrator's Guide
# Default value : None
# Mandatory     : Yes, if DataVault option is chosen
#-----------------------------------------------------------------------------
#DVOWNERNAME = ""

#-----------------------------------------------------------------------------
# Name          : DVOWNERPASSWORD
# Datatype      : String
# Description   : Password for DataVault Owner
# Valid values  : Check Oracle12c Administrator's Guide
# Default value : None
# Mandatory     : Yes, if DataVault option is chosen
#-----------------------------------------------------------------------------
#DVOWNERPASSWORD = ""

#-----------------------------------------------------------------------------
# Name          : DVACCOUNTMANAGERNAME
# Datatype      : String
# Description   : DataVault Account Manager
# Valid values  : Check Oracle12c Administrator's Guide
# Default value : None
# Mandatory     : No
#-----------------------------------------------------------------------------
#DVACCOUNTMANAGERNAME = ""

#-----------------------------------------------------------------------------
# Name          : DVACCOUNTMANAGERPASSWORD
# Datatype      : String
# Description   : Password for  DataVault Account Manager
# Valid values  : Check Oracle12c Administrator's Guide
# Default value : None
# Mandatory     : No
#-----------------------------------------------------------------------------
#DVACCOUNTMANAGERPASSWORD = ""

#-----------------------------------------------------------------------------
# Name          : OLSCONFIGURATION
# Datatype      : Boolean
# Description   : Specify "True" to configure and enable Oracle Label Security
# Valid values  : True/False
# Default value : False
# Mandatory     : No
#-----------------------------------------------------------------------------
#OLSCONFIGURATION = "false"

#-----------------------------------------------------------------------------
# Name          : DATAFILEJARLOCATION
# Datatype      : String
# Description   : Location of the data file jar
# Valid values  : Directory containing compressed datafile jar
# Default value : None
# Mandatory     : No
#-----------------------------------------------------------------------------
#DATAFILEJARLOCATION =

#-----------------------------------------------------------------------------
# Name          : DATAFILEDESTINATION
# Datatype      : String
# Description   : Location of the data file's
# Valid values  : Directory for all the database files
# Default value : $ORACLE_BASE/oradata
# Mandatory     : No
#-----------------------------------------------------------------------------
{% if item.0.datafile_dest is defined %}
DATAFILEDESTINATION={{ item.0.datafile_dest }}
{% else %}
DATAFILEDESTINATION={{ datafile_dest }}
{% endif %}
#-----------------------------------------------------------------------------
# Name          : RECOVERYAREADESTINATION
# Datatype      : String
# Description   : Location of the data file's
# Valid values  : Recovery Area location
# Default value : $ORACLE_BASE/flash_recovery_area
# Mandatory     : No
#-----------------------------------------------------------------------------
{% if item.0.recoveryfile_dest is defined %}
RECOVERYAREADESTINATION={{ item.0.recoveryfile_dest }}
{% else %}
RECOVERYAREADESTINATION={{ recoveryfile_dest }}
{% endif %}

#-----------------------------------------------------------------------------
# Name          : STORAGETYPE
# Datatype      : String
# Description   : Specifies the storage on which the database is to be created
# Valid values  : FS (CFS for RAC), ASM
# Default value : FS
# Mandatory     : No
#-----------------------------------------------------------------------------
STORAGETYPE="{{ item.0.storage_type }}"

#-----------------------------------------------------------------------------
# Name          : DISKGROUPNAME
# Datatype      : String
# Description   : Specifies the disk group name for the storage
# Default value : DATA
# Mandatory     : No
#-----------------------------------------------------------------------------
{% if item.0.datafile_dest is defined %}
DISKGROUPNAME={{ item.0.datafile_dest }}
{% else %}
DISKGROUPNAME={{ datafile_dest }}
{% endif %}

#-----------------------------------------------------------------------------
# Name          : ASMSNMP_PASSWORD
# Datatype      : String
# Description   : Password for ASM Monitoring
# Default value : None
# Mandatory     : No
#-----------------------------------------------------------------------------
ASMSNMP_PASSWORD="{{ item.0.oracle_db_passwd }}"

#-----------------------------------------------------------------------------
# Name          : RECOVERYGROUPNAME
# Datatype      : String
# Description   : Specifies the disk group name for the recovery area
# Default value : RECOVERY
# Mandatory     : No
#-----------------------------------------------------------------------------
{% if item.0.recoveryfile_dest is defined %}
RECOVERYGROUPNAME={{ item.0.recoveryfile_dest }}
{% else %}
RECOVERYGROUPNAME={{ recoveryfile_dest }}
{% endif %}

#-----------------------------------------------------------------------------
# Name          : CHARACTERSET
# Datatype      : String
# Description   : Character set of the database
# Valid values  : Check Oracle12c National Language Support Guide
# Default value : "US7ASCII"
# Mandatory     : NO
#-----------------------------------------------------------------------------
#
{% if item.0.characterset is defined %}
CHARACTERSET = "{{ item.0.characterset }}"
{% else %}
CHARACTERSET = "AL32UTF8"
{% endif %}

#-----------------------------------------------------------------------------
# Name          : NATIONALCHARACTERSET
# Datatype      : String
# Description   : National Character set of the database
# Valid values  : "UTF8" or "AL16UTF16". For details, check Oracle12c National Language Support Guide
# Default value : "AL16UTF16"
# Mandatory     : No
#-----------------------------------------------------------------------------
{% if item.0.ncharacterset is defined %}
NATIONALCHARACTERSET= "{{ item.0.ncharacterset }}"
{% else %}
NATIONALCHARACTERSET= "AL16UTF16"
{% endif %}

#-----------------------------------------------------------------------------
# Name          : REGISTERWITHDIRSERVICE
# Datatype      : Boolean
# Description   : Specifies whether to register with Directory Service.
# Valid values  : TRUE \ FALSE
# Default value : FALSE
# Mandatory     : No
#-----------------------------------------------------------------------------
#REGISTERWITHDIRSERVICE= TRUE

#-----------------------------------------------------------------------------
# Name          : DIRSERVICEUSERNAME
# Datatype      : String
# Description   : Specifies the name of the directory service user
# Mandatory     : YES, if the value of registerWithDirService is TRUE
#-----------------------------------------------------------------------------
#DIRSERVICEUSERNAME= "name"

#-----------------------------------------------------------------------------
# Name          : DIRSERVICEPASSWORD
# Datatype      : String
# Description   : The password of the directory service user.
#		  You can also specify the password at the command prompt instead of here.
# Mandatory     : YES, if the value of registerWithDirService is TRUE
#-----------------------------------------------------------------------------
#DIRSERVICEPASSWORD= "password"

#-----------------------------------------------------------------------------
# Name          : WALLETPASSWORD
# Datatype      : String
# Description   : The password for wallet to created or modified.
#		  You can also specify the password at the command prompt instead of here.
# Mandatory     : YES, if the value of registerWithDirService is TRUE
#-----------------------------------------------------------------------------
#WALLETPASSWORD= "password"

#-----------------------------------------------------------------------------
# Name          : LISTENERS
# Datatype      : String
# Description   : Specifies list of listeners to register the database with.
#		  By default the database is configured for all the listeners specified in the
#		  $ORACLE_HOME/network/admin/listener.ora
# Valid values  : The list should be comma separated like "listener1,listener2".
# Mandatory     : NO
#-----------------------------------------------------------------------------
#LISTENERS = "listener1,listener2"

#-----------------------------------------------------------------------------
# Name          : VARIABLESFILE
# Datatype      : String
# Description   : Location of the file containing variable value pair
# Valid values  : A valid file-system file. The variable value pair format in this file
#		  is <variable>=<value>. Each pair should be in a new line.
# Default value : None
# Mandatory     : NO
#-----------------------------------------------------------------------------
#VARIABLESFILE =

#-----------------------------------------------------------------------------
# Name          : VARIABLES
# Datatype      : String
# Description   : comma separated list of name=value pairs. Overrides variables defined in variablefile and templates
# Default value : None
# Mandatory     : NO
#-----------------------------------------------------------------------------
#VARIABLES =s

#-----------------------------------------------------------------------------
# Name          : INITPARAMS
# Datatype      : String
# Description   : comma separated list of name=value pairs. Overrides initialization parameters defined in templates
# Default value : None
# Mandatory     : NO
#-----------------------------------------------------------------------------
{% if item.0.oracle_init_params is defined %}
INITPARAMS ="{{ item.0.oracle_init_params }}"
{% else %}
#INITPARAMS =
{% endif %}

#-----------------------------------------------------------------------------
# Name          : SAMPLESCHEMA
# Datatype      : Boolean
# Description   : Specifies whether or not to add the Sample Schemas to your database
# Valid values  : TRUE \ FALSE
# Default value : FASLE
# Mandatory     : No
#-----------------------------------------------------------------------------
#SAMPLESCHEMA=TRUE

#-----------------------------------------------------------------------------
# Name          : MEMORYPERCENTAGE
# Datatype      : String
# Description   : percentage of physical memory for Oracle
# Default value : None
# Mandatory     : NO
#-----------------------------------------------------------------------------
{% if item.0.oracle_db_mem_percent is defined %}
MEMORYPERCENTAGE = "{{ item.0.oracle_db_mem_percent }}"
{% else %}
#MEMORYPERCENTAGE =
{% endif %}
#-----------------------------------------------------------------------------
# Name          : DATABASETYPE
# Datatype      : String
# Description   : used for memory distribution when MEMORYPERCENTAGE specified
# Valid values  : MULTIPURPOSE|DATA_WAREHOUSING|OLTP
# Default value : MULTIPURPOSE
# Mandatory     : NO
#-----------------------------------------------------------------------------
DATABASETYPE = "{{ item.0.oracle_database_type }}"

#-----------------------------------------------------------------------------
# Name          : AUTOMATICMEMORYMANAGEMENT
# Datatype      : Boolean
# Description   : flag to indicate Automatic Memory Management is used
# Valid values  : TRUE/FALSE
# Default value : TRUE
# Mandatory     : NO
#-----------------------------------------------------------------------------
AUTOMATICMEMORYMANAGEMENT = "FALSE"

#-----------------------------------------------------------------------------
# Name          : TOTALMEMORY
# Datatype      : String
# Description   : total memory in MB to allocate to Oracle
# Valid values  :
# Default value :
# Mandatory     : NO
#-----------------------------------------------------------------------------
{% if item.0.oracle_db_mem_totalmb is defined %}
TOTALMEMORY = "{{ item.0.oracle_db_mem_totalmb }}"
{% else %}
#TOTALMEMORY =
{% endif %}



#-----------------------*** End of CREATEDATABASE section ***------------------------

#-----------------------------------------------------------------------------
# createTemplateFromDB section is used when OPERATION_TYPE is defined as "createTemplateFromDB".
#-----------------------------------------------------------------------------
[createTemplateFromDB]
#-----------------------------------------------------------------------------
# Name          : SOURCEDB
# Datatype      : String
# Description   : The source database from which to create the template
# Valid values  : The format is <host>:<port>:<sid>
# Default value : none
# Mandatory     : YES
#-----------------------------------------------------------------------------
SOURCEDB = "myhost:1521:orcl"

#-----------------------------------------------------------------------------
# Name          : SYSDBAUSERNAME
# Datatype      : String
# Description   : A user with DBA role.
# Default value : none
# Mandatory     : YES
#-----------------------------------------------------------------------------
SYSDBAUSERNAME = "system"

#-----------------------------------------------------------------------------
# Name          : SYSDBAPASSWORD
# Datatype      : String
# Description   : The password of the DBA user.
#		  You can also specify the password at the command prompt instead of here.
# Default value : none
# Mandatory     : YES
#-----------------------------------------------------------------------------
#SYSDBAPASSWORD = "password"

#-----------------------------------------------------------------------------
# Name          : TEMPLATENAME
# Datatype      : String
# Description   : Name for the new template.
# Default value : None
# Mandatory     : Yes
#-----------------------------------------------------------------------------
TEMPLATENAME = "My Copy TEMPLATE"

#-----------------------*** End of createTemplateFromDB section ***------------------------

#-----------------------------------------------------------------------------
# createCloneTemplate section is used when OPERATION_TYPE is defined as "createCloneTemplate".
#-----------------------------------------------------------------------------
[createCloneTemplate]
#-----------------------------------------------------------------------------
# Name          : SOURCEDB
# Datatype      : String
# Description   : The source database is the SID from which to create the template.
#		  This database must be local and on the same ORACLE_HOME.
# Default value : none
# Mandatory     : YES
#-----------------------------------------------------------------------------
SOURCEDB = "orcl"

#-----------------------------------------------------------------------------
# Name          : SYSDBAUSERNAME
# Datatype      : String
# Description   : A user with DBA role.
# Default value : none
# Mandatory     : YES, if no OS authentication
#-----------------------------------------------------------------------------
#SYSDBAUSERNAME = "sys"

#-----------------------------------------------------------------------------
# Name          : SYSDBAPASSWORD
# Datatype      : String
# Description   : The password of the DBA user.
#		  You can also specify the password at the command prompt instead of here.
# Default value : none
# Mandatory     : YES
#-----------------------------------------------------------------------------
#SYSDBAPASSWORD = "password"

#-----------------------------------------------------------------------------
# Name          : TEMPLATENAME
# Datatype      : String
# Description   : Name for the new template.
# Default value : None
# Mandatory     : Yes
#-----------------------------------------------------------------------------
TEMPLATENAME = "My Clone TEMPLATE"

#-----------------------------------------------------------------------------
# Name          : DATAFILEJARLOCATION
# Datatype      : String
# Description   : Location of the data file jar
# Valid values  : Directory where the new compressed datafile jar will be placed
# Default value : $ORACLE_HOME/assistants/dbca/templates
# Mandatory     : NO
#-----------------------------------------------------------------------------
#DATAFILEJARLOCATION =

#-----------------------*** End of createCloneTemplate section ***------------------------

#-----------------------------------------------------------------------------
# DELETEDATABASE section is used when DELETE_TYPE is defined as "deleteDatabase".
#-----------------------------------------------------------------------------
[DELETEDATABASE]
#-----------------------------------------------------------------------------
# Name          : SOURCEDB
# Datatype      : String
# Description   : The source database is the SID
#		  This database must be local and on the same ORACLE_HOME.
# Default value : none
# Mandatory     : YES
#-----------------------------------------------------------------------------
SOURCEDB = "orcl"

#-----------------------------------------------------------------------------
# Name          : SYSDBAUSERNAME
# Datatype      : String
# Description   : A user with DBA role.
# Default value : none
# Mandatory     : YES, if no OS authentication
#-----------------------------------------------------------------------------
#SYSDBAUSERNAME = "sys"

#-----------------------------------------------------------------------------
# Name          : SYSDBAPASSWORD
# Datatype      : String
# Description   : The password of the DBA user.
#		  You can also specify the password at the command prompt instead of here.
# Default value : none
# Mandatory     : YES, if no OS authentication
#-----------------------------------------------------------------------------
#SYSDBAPASSWORD = "password"
#-----------------------*** End of deleteDatabase section ***------------------------

#-----------------------------------------------------------------------------
# GENERATESCRIPTS section
#-----------------------------------------------------------------------------
[generateScripts]
#-----------------------------------------------------------------------------
# Name          : TEMPLATENAME
# Datatype      : String
# Description   : Name of the template
# Valid values  : Template name as seen in DBCA
# Default value : None
# Mandatory     : Yes
#-----------------------------------------------------------------------------
TEMPLATENAME = "New Database"

#-----------------------------------------------------------------------------
# Name          : GDBNAME
# Datatype      : String
# Description   : Global database name of the database
# Valid values  : <db_name>.<db_domain> - when database domain isn't NULL
#                 <db_name>             - when database domain is NULL
# Default value : None
# Mandatory     : Yes
#-----------------------------------------------------------------------------
GDBNAME = "orcl12.us.oracle.com"

#-----------------------------------------------------------------------------
# Name          : SCRIPTDESTINATION
# Datatype      : String
# Description   : Location of the scripts
# Valid values  : Directory for all the scripts
# Default value : None
# Mandatory     : No
#-----------------------------------------------------------------------------
#SCRIPTDESTINATION =

#-----------------------------------------------------------------------------
# Name          : EMCONFIGURATION
# Datatype      : String
# Description   : Enterprise Manager Configuration Type
# Valid values  : CENTRAL
# Default value : NONE
# Mandatory     : No
#-----------------------------------------------------------------------------
#EMCONFIGURATION = "NONE"


#-----------------------------------------------------------------------------
# Name          : OMSHOST
# Datatype      : String
# Description   : EM management server host name
# Default value : None
# Mandatory     : Yes, if CENTRAL is specified for EMCONFIGURATION
#-----------------------------------------------------------------------------
#OMSHOST =

#-----------------------------------------------------------------------------
# Name          : OMSPORT
# Datatype      : Number
# Description   : EM management server port number
# Default value : None
# Mandatory     : Yes, if CENTRAL is specified for EMCONFIGURATION
#-----------------------------------------------------------------------------
#OMSPORT =

#-----------------------------------------------------------------------------
# Name          : EMUSER
# Datatype      : String
# Description   : EM Admin username to add or modify targets
# Default value : None
# Mandatory     : Yes, if CENTRAL is specified for EMCONFIGURATION
#-----------------------------------------------------------------------------
#EMUSER =

#-----------------------------------------------------------------------------
# Name          : EMPASSWORD
# Datatype      : String
# Description   : EM Admin user password
# Default value : None
# Mandatory     : Yes, if CENTRAL is specified for EMCONFIGURATION
#-----------------------------------------------------------------------------
#EMPASSWORD=

#-----------------------*** End of deleteDatabase section ***------------------------

#-----------------------------------------------------------------------------
# CONFIGUREDATABASE section is used when OPERATION_TYPE is defined as "configureDatabase".
#-----------------------------------------------------------------------------
[CONFIGUREDATABASE]

#-----------------------------------------------------------------------------
# Name          : SOURCEDB
# Datatype      : String
# Description   : The source database is the SID
#		  This database must be local and on the same ORACLE_HOME.
# Default value : none
# Mandatory     : YES
#-----------------------------------------------------------------------------
#SOURCEDB = "orcl"

#-----------------------------------------------------------------------------
# Name          : SYSDBAUSERNAME
# Datatype      : String
# Description   : A user with DBA role.
# Default value : none
# Mandatory     : YES, if no OS authentication
#-----------------------------------------------------------------------------
#SYSDBAUSERNAME = "sys"


#-----------------------------------------------------------------------------
# Name          : SYSDBAPASSWORD
# Datatype      : String
# Description   : The password of the DBA user.
#		  You can also specify the password at the command prompt instead of here.
# Default value : none
# Mandatory     : YES, if no OS authentication
#-----------------------------------------------------------------------------
#SYSDBAPASSWORD =

#-----------------------------------------------------------------------------
# Name          : REGISTERWITHDIRSERVICE
# Datatype      : Boolean
# Description   : Specifies whether to register with Directory Service.
# Valid values  : TRUE \ FALSE
# Default value : FALSE
# Mandatory     : No
#-----------------------------------------------------------------------------
#REGISTERWITHDIRSERVICE= TRUE

#-----------------------------------------------------------------------------
# Name          : UNREGISTERWITHDIRSERVICE
# Datatype      : Boolean
# Description   : Specifies whether to unregister with Directory Service.
# Valid values  : TRUE \ FALSE
# Default value : FALSE
# Mandatory     : No
#-----------------------------------------------------------------------------
#UNREGISTERWITHDIRSERVICE= TRUE

#-----------------------------------------------------------------------------
# Name          : REGENERATEDBPASSWORD
# Datatype      : Boolean
# Description   : Specifies whether regenerate database password in OID/Wallet
# Valid values  : TRUE \ FALSE
# Default value : FALSE
# Mandatory     : No
#-----------------------------------------------------------------------------
#REGENERATEDBPASSWORD= TRUE

#-----------------------------------------------------------------------------
# Name          : DIRSERVICEUSERNAME
# Datatype      : String
# Description   : Specifies the name of the directory service user
# Mandatory     : YES, if the any of the reg/unreg/regenPasswd options specified
#-----------------------------------------------------------------------------
#DIRSERVICEUSERNAME= "name"

#-----------------------------------------------------------------------------
# Name          : DIRSERVICEPASSWORD
# Datatype      : String
# Description   : The password of the directory service user.
#		  You can also specify the password at the command prompt instead of here.
# Mandatory     : YES, if the any of the reg/unreg/regenPasswd options specified
#-----------------------------------------------------------------------------
#DIRSERVICEPASSWORD= "password"

#-----------------------------------------------------------------------------
# Name          : WALLETPASSWORD
# Datatype      : String
# Description   : The password for wallet to created or modified.
#		  You can also specify the password at the command prompt instead of here.
# Mandatory     : YES, if the any of the reg/unreg/regenPasswd options specified
#-----------------------------------------------------------------------------
#WALLETPASSWORD= "password"


#-----------------------------------------------------------------------------
# Name          : ENABLESECURITYCONFIGURATION
# Datatype      : String
# Description   : Database Security Settings
# Valid values  : true|false
# Default value : true
# Mandatory     : No
#-----------------------------------------------------------------------------
#ENABLESECURITYCONFIGURATION = "true"


#-----------------------------------------------------------------------------
# Name          : DBSNMPPASSWORD
# Datatype      : String
# Description   : Password for DBSNMP user
# Valid values  : Check Oracle12c Administrator's Guide
# Default value : None
# Mandatory     : Yes, if EMCONFIGURATION is specified
#-----------------------------------------------------------------------------
#DBSNMPPASSWORD = "password"


#-----------------------------------------------------------------------------
# Name          : DVCONFIGURATION
# Datatype      : Boolean
# Description   : Specify "True" to configure and enable Oracle Database vault
# Valid values  : True/False
# Default value : False
# Mandatory     : No
#-----------------------------------------------------------------------------
#DVCONFIGURATION = "false"

#-----------------------------------------------------------------------------
# Name          : DVOWNERNAME
# Datatype      : String
# Description   : DataVault Owner
# Valid values  : Check Oracle12c Administrator's Guide
# Default value : None
# Mandatory     : Yes, if DataVault option is chosen
#-----------------------------------------------------------------------------
#DVOWNERNAME = ""

#-----------------------------------------------------------------------------
# Name          : DVOWNERPASSWORD
# Datatype      : String
# Description   : Password for DataVault Owner
# Valid values  : Check Oracle12c Administrator's Guide
# Default value : None
# Mandatory     : Yes, if DataVault option is chosen
#-----------------------------------------------------------------------------
#DVOWNERPASSWORD = ""

#-----------------------------------------------------------------------------
# Name          : DVACCOUNTMANAGERNAME
# Datatype      : String
# Description   : DataVault Account Manager
# Valid values  : Check Oracle12c Administrator's Guide
# Default value : None
# Mandatory     : No
#-----------------------------------------------------------------------------
#DVACCOUNTMANAGERNAME = ""

#-----------------------------------------------------------------------------
# Name          : DVACCOUNTMANAGERPASSWORD
# Datatype      : String
# Description   : Password for  DataVault Account Manager
# Valid values  : Check Oracle12c Administrator's Guide
# Default value : None
# Mandatory     : No
#-----------------------------------------------------------------------------
#DVACCOUNTMANAGERPASSWORD = ""

#-----------------------*** End of CONFIGUREDATABASE section ***------------------------


#-----------------------------------------------------------------------------
# ADDINSTANCE section is used when OPERATION_TYPE is defined as "addInstance".
#-----------------------------------------------------------------------------
[ADDINSTANCE]

#-----------------------------------------------------------------------------
# Name          : DB_UNIQUE_NAME
# Datatype      : String
# Description   : DB Unique Name of the RAC database
# Valid values  : <db_unique_name>
# Default value : None
# Mandatory     : Yes
#-----------------------------------------------------------------------------
DB_UNIQUE_NAME = "orcl12c.us.oracle.com"

#-----------------------------------------------------------------------------
# Name          : INSTANCENAME
# Datatype      : String
# Description   : RAC instance name to be added
# Valid values  : Check Oracle12c Administrator's Guide
# Default value : <sid_prefix>+<highest_current_thread+1>
# Mandatory     : No
#-----------------------------------------------------------------------------
#INSTANCENAME = "orcl1"

#-----------------------------------------------------------------------------
# Name          : NODENAME
# Datatype      : String
# Description   : Node on which to add new instance
#                 (in 10gR2, instance addition is supported on 1 node at a time)
# Valid values  : Cluster node name
# Default value : None
# Mandatory     : Yes
#-----------------------------------------------------------------------------
NODENAME=

#-----------------------------------------------------------------------------
# Name          : OBFUSCATEDPASSWORDS
# Datatype      : Boolean
# Description   : Set to true if passwords are encrypted
# Valid values  : TRUE\FALSE
# Default value : FALSE
# Mandatory     : No
#-----------------------------------------------------------------------------
#OBFUSCATEDPASSWORDS = FALSE

#-----------------------------------------------------------------------------
# Name          : SYSDBAUSERNAME
# Datatype      : String
# Description   : A user with DBA role.
# Default value : none
# Mandatory     : YES
#-----------------------------------------------------------------------------
SYSDBAUSERNAME = "sys"

#-----------------------------------------------------------------------------
# Name          : SYSDBAPASSWORD
# Datatype      : String
# Description   : The password of the DBA user.
# Default value : none
# Mandatory     : YES
#-----------------------------------------------------------------------------
#SYSDBAPASSWORD = "password"

#-----------------------------------------------------------------------------
# Name          : SERVICEUSERPASSWORD
# Datatype      : String
# Description   : Password for Windows Service user
# Default value : None
# Mandatory     : If Oracle home is installed with windows service user
#-----------------------------------------------------------------------------
#SERVICEUSERPASSWORD = "password"

#-----------------------*** End of ADDINSTANCE section ***------------------------


#-----------------------------------------------------------------------------
# DELETEINSTANCE section is used when OPERATION_TYPE is defined as "deleteInstance".
#-----------------------------------------------------------------------------
[DELETEINSTANCE]

#-----------------------------------------------------------------------------
# Name          : DB_UNIQUE_NAME
# Datatype      : String
# Description   : DB Unique Name of the RAC database
# Valid values  : <db_unique_name>
# Default value : None
# Mandatory     : Yes
#-----------------------------------------------------------------------------
DB_UNIQUE_NAME = "orcl12c.us.oracle.com"

#-----------------------------------------------------------------------------
# Name          : INSTANCENAME
# Datatype      : String
# Description   : RAC instance name to be deleted
# Valid values  : Check Oracle12c Administrator's Guide
# Default value : None
# Mandatory     : Yes
#-----------------------------------------------------------------------------
INSTANCENAME = "orcl12c"

#-----------------------------------------------------------------------------
# Name          : NODENAME
# Datatype      : String
# Description   : Node on which instance to be deleted (SID) is located
# Valid values  : Cluster node name
# Default value : None
# Mandatory     : No
#-----------------------------------------------------------------------------
#NODENAME=

#-----------------------------------------------------------------------------
# Name          : OBFUSCATEDPASSWORDS
# Datatype      : Boolean
# Description   : Set to true if passwords are encrypted
# Valid values  : TRUE\FALSE
# Default value : FALSE
# Mandatory     : No
#-----------------------------------------------------------------------------
#OBFUSCATEDPASSWORDS = FALSE

#-----------------------------------------------------------------------------
# Name          : SYSDBAUSERNAME
# Datatype      : String
# Description   : A user with DBA role.
# Default value : none
# Mandatory     : YES
#-----------------------------------------------------------------------------
SYSDBAUSERNAME = "sys"

#-----------------------------------------------------------------------------
# Name          : SYSDBAPASSWORD
# Datatype      : String
# Description   : The password of the DBA user.
# Default value : none
# Mandatory     : YES
#-----------------------------------------------------------------------------
#SYSDBAPASSWORD = "password"


#-----------------------*** End of DELETEINSTANCE section ***------------------------

#----------------------------------------------------------------------------------
# CREATEPLUGGABLEDATABASE section is used when OPERATION_TYPE is defined as "createPluggableDatabase".
#----------------------------------------------------------------------------------
[CREATEPLUGGABLEDATABASE]
#----------------------------------------------------------------------------------
# Name          : SOURCEDB
# Datatype      : String
# Description   : The source database is the SID
#		  This database must be local and on the same ORACLE_HOME.
# Default value : none
# Mandatory     : YES
#-----------------------------------------------------------------------------
SOURCEDB = "orcl"

#----------------------------------------------------------------------------------
# Name          : PDBNAME
# Datatype      : String
# Description   : The name of new pluggable database
#		  This pdb name must not be same as sourcedb name.
# Default value : none
# Mandatory     : YES
#-----------------------------------------------------------------------------
PDBNAME = "PDB1"

#----------------------------------------------------------------------------------
# Name          : CREATEASCLONE
# Datatype      : Boolean
# Description   : specify true or false for PDB to be create as Clone.
#               : When "true" is passed a new PDB GUID is generated for the plugged in PDB
# Default value : true
# Mandatory     : NO
#-----------------------------------------------------------------------------
# CREATEASCLONE = "TRUE"

#----------------------------------------------------------------------------------

#----------------------------------------------------------------------------------
# Name          : CREATEPDBFROM
# Datatype      : String
# Description   : specify the source of pdb to be plugged
# Valid values  : DEFAULT | FILEARCHIVE | RMANBACKUP | USINGXML
# Default value : DEFAULT
# Mandatory     : NO
#-----------------------------------------------------------------------------
# CREATEPDBFROM = "DEFAULT"

#----------------------------------------------------------------------------------
# Name          : PDBARCHIVEFILE
# Datatype      : String
# Description   : Full path and name for pdbArchive file
# Default value : None
# Mandatory     : Mandatory when creating new PDB using FILEARCHIVE
#-----------------------------------------------------------------------------
# PDBARCHIVEFILE = ""

#----------------------------------------------------------------------------------
# Name          : PDBBACKUPFILE
# Datatype      : String
# Description   : Full path and name for pdb back up file
# Default value : None
# Mandatory     : Mandatory when creating new PDB using RMANBACKUP
#-----------------------------------------------------------------------------
# PDBBACKUPFILE = ""

#----------------------------------------------------------------------------------
# Name          : PDBMETADATAFILE
# Datatype      : String
# Description   : Full path and name for pdb metadata file
# Default value : None
# Mandatory     : Mandatory when creating new PDB using RMANBACKUP or USINGXML
#-----------------------------------------------------------------------------
# PDBMETADATAFILE = ""

#----------------------------------------------------------------------------------
# Name          : PDBUSEMULTIPLEBACKUP
# Datatype      : boolean
# Description   : Flag that can used to create PDB from single or multiple backupsets
# Default value : true
# Mandatory     : Optional when creating new PDB using RMANBACKUP or USINGXML
#-----------------------------------------------------------------------------
# PDBUSEMULTIPLEBACKUP =

#----------------------------------------------------------------------------------
# Name          : PDBADMINUSERNAME
# Datatype      : String
# Description   : PDB Administrator user name
# Default value : None
# Mandatory     : Mandatory only when creating new DEFAULT PDB
#-----------------------------------------------------------------------------
# PDBADMINUSERNAME = ""

#----------------------------------------------------------------------------------
# Name          : PDBADMINPASSWORD
# Datatype      : String
# Description   : PDB Administrator user password
# Default value : None
# Mandatory     : Mandatory only when creating new DEFAULT PDB
#-----------------------------------------------------------------------------
# PDBADMINPASSWORD = ""

#----------------------------------------------------------------------------------
# Name          : CREATENEWPDBADMINUSER
# Datatype      : String
# Description   : When Plugging a pdb from FILEARCHIVE or RMANBACKUP
#		  a new PDB Administrator user can be created using this option
#		  This option should be given along with pdbadmin username and password
# Default value : False
# Mandatory     : NO
#-----------------------------------------------------------------------------
# CREATENEWPDBADMINUSER = ""

#----------------------------------------------------------------------------------
# Name          : SOURCEFILENAMECONVERT
# Datatype      : String
# Description   : This clause specifies how to locate files listed in an XML file
#		  describing a Pluggable Database if they reside in a location different
#		  from that specified in the XML file.
#		  This clause is valid when creating Pluggable database in USINGXML option
# Valid values  : (<filename_pattern>, <replacement_filename_pattern>,....)
# Default value : "NONE"
# Mandatory     : NO
#-----------------------------------------------------------------------------
# SOURCEFILENAMECONVERT = ""

#----------------------------------------------------------------------------------
# Name          : FILENAMECONVERT
# Datatype      : String
# Description   : This clause specifies how to generate names of files
#		  for the Pluggable Database being created using names of existing files
#		  This clause is valid when creating Pluggable database in USINGXML option
# Valid values  : (<filename_pattern>, <replacement_filename_pattern>,....)
# Default value : "NONE"
# Mandatory     : NO
#-----------------------------------------------------------------------------
# FILENAMECONVERT = ""

#----------------------------------------------------------------------------------
# Name          : COPYPDBFILES
# Datatype      : Boolean
# Description   : If COPY is specified, it will indicate that datafiles need to be copied.
#		: This option can be true only when FILENAMECONVERT is specified or
#		   CDB files are Oracle Managed Files(OMF)
# Valid values  : TRUE \ FALSE
# Default value : False
# Mandatory     : NO
#-----------------------------------------------------------------------------
# COPYPDBFILES = ""

#----------------------------------------------------------------------------------
# Name          : PDBDATAFILEDESTINATION
# Datatype      : String
# Description   : common location for PDB datafile area
# Default value : None
# Mandatory     : NO
#-----------------------------------------------------------------------------
# PDBDATAFILEDESTINATION = ""

#----------------------------------------------------------------------------------
# Name          : USEMETADATAFILELOCATION
# Datatype      : Boolean
# Description   : Specify true if datafile path defined in Meta datafile within PDB
#		  archive file is to be used to un-archive datafile.
# Valid values  : TRUE \ FALSE
# Default value : FALSE
# Mandatory     : NO
#-----------------------------------------------------------------------------
# USEMETADATAFILELOCATION = ""

#-----------------------------------------------------------------------------
# Name          : REGISTERWITHDIRSERVICE
# Datatype      : Boolean
# Description   : Specifies whether to register with Directory Service.
# Valid values  : TRUE \ FALSE
# Default value : FALSE
# Mandatory     : No
#-----------------------------------------------------------------------------
#REGISTERWITHDIRSERVICE= TRUE

#-----------------------------------------------------------------------------
# Name          : DIRSERVICEUSERNAME
# Datatype      : String
# Description   : Specifies the name of the directory service user
# Mandatory     : YES, if the value of registerWithDirService is TRUE
#-----------------------------------------------------------------------------
#DIRSERVICEUSERNAME= "name"

#-----------------------------------------------------------------------------
# Name          : DIRSERVICEPASSWORD
# Datatype      : String
# Description   : The password of the directory service user.
#		  You can also specify the password at the command prompt instead of here.
# Mandatory     : YES, if the value of registerWithDirService is TRUE
#-----------------------------------------------------------------------------
#DIRSERVICEPASSWORD= "password"

#-----------------------------------------------------------------------------
# Name          : WALLETPASSWORD
# Datatype      : String
# Description   : The password for wallet to created or modified.
#		  You can also specify the password at the command prompt instead of here.
# Mandatory     : YES, if the value of registerWithDirService is TRUE
#-----------------------------------------------------------------------------
#WALLETPASSWORD= "password"

#-----------------------------------------------------------------------------
# Name          : LBACSYSPASSWORD
# Datatype      : String
# Description   : Password for LBACSYS user
#		  You can also specify the password at the command prompt instead of here.
# Mandatory     : YES, if the value of registerWithDirService are TRUE
#-----------------------------------------------------------------------------
#LBACSYSPASSWORD= "password"

#----------------------------------------------------------------------------------
# Name          : CREATEUSERTABLESPACE
# Datatype      : Boolean
# Description   : Specify true if a default user tablespace need to be created in new PDB
#
# Valid values  : TRUE \ FALSE
# Default value : TRUE
# Mandatory     : NO
#-----------------------------------------------------------------------------
# CREATEUSERTABLESPACE = ""

#-----------------------------------------------------------------------------
# Name          : DVCONFIGURATION
# Datatype      : Boolean
# Description   : Specify "True" to configure and enable Oracle Database vault
# Valid values  : True/False
# Default value : False
# Mandatory     : No
#-----------------------------------------------------------------------------
#DVCONFIGURATION = "false"

#-----------------------------------------------------------------------------
# Name          : DVOWNERNAME
# Datatype      : String
# Description   : DataVault Owner
# Valid values  : Check Oracle12c Administrator's Guide
# Default value : None
# Mandatory     : Yes, if DataVault option is chosen
#-----------------------------------------------------------------------------
#DVOWNERNAME = ""

#-----------------------------------------------------------------------------
# Name          : DVOWNERPASSWORD
# Datatype      : String
# Description   : Password for DataVault Owner
# Valid values  : Check Oracle12c Administrator's Guide
# Default value : None
# Mandatory     : Yes, if DataVault option is chosen
#-----------------------------------------------------------------------------
#DVOWNERPASSWORD = ""

#-----------------------------------------------------------------------------
# Name          : DVACCOUNTMANAGERNAME
# Datatype      : String
# Description   : DataVault Account Manager
# Valid values  : Check Oracle12c Administrator's Guide
# Default value : None
# Mandatory     : No
#-----------------------------------------------------------------------------
#DVACCOUNTMANAGERNAME = ""

#-----------------------------------------------------------------------------
# Name          : DVACCOUNTMANAGERPASSWORD
# Datatype      : String
# Description   : Password for  DataVault Account Manager
# Valid values  : Check Oracle12c Administrator's Guide
# Default value : None
# Mandatory     : No
#-----------------------------------------------------------------------------
#DVACCOUNTMANAGERPASSWORD = ""

#-----------------------*** End of createPluggableDatabase section ***------------------------

#----------------------------------------------------------------------------------
# UNPLUGDATABASE section is used when OPERATION_TYPE is defined as "unplugDatabase".
#----------------------------------------------------------------------------------
[UNPLUGDATABASE]
#----------------------------------------------------------------------------------
# Name          : SOURCEDB
# Datatype      : String
# Description   : The source database is the SID
#		  This database must be local and on the same ORACLE_HOME.
# Default value : none
# Mandatory     : YES
#-----------------------------------------------------------------------------
SOURCEDB = "orcl"

#----------------------------------------------------------------------------------
# Name          : PDBNAME
# Datatype      : String
# Description   : The name of new pluggable database
#		  This pdb name must not be same as sourcedb name.
# Default value : none
# Mandatory     : YES
#-----------------------------------------------------------------------------
PDBNAME = "PDB1"

#----------------------------------------------------------------------------------
# Name          : ARCHIVETYPE
# Datatype      : String
# Description   : The unplugged database datafile backup will in tar.gz or rman backup
#		  This pdb name must not be same as sourcedb name.
# Valid values  : TAR | RMAN
# Default value : TAR
# Mandatory     : NO
#-----------------------------------------------------------------------------
ARCHIVETYPE = "TAR"

#----------------------------------------------------------------------------------
# Name          : PDBARCHIVEFILE
# Datatype      : String
# Description   : Full path and name for pdbArchive file
# Default value : None
# Mandatory     : NO
#-----------------------------------------------------------------------------
# PDBARCHIVEFILE = ""

#----------------------------------------------------------------------------------
# Name          : PDBBACKUPFILE
# Datatype      : String
# Description   : Full path and name for pdb back up file
# Default value : None
# Mandatory     : No
#-----------------------------------------------------------------------------
# PDBBACKUPFILE = ""

#----------------------------------------------------------------------------------
# Name          : PDBMETADATAFILE
# Datatype      : String
# Description   : Full path and name for pdb metadata file
# Default value : None
# Mandatory     : No
#-----------------------------------------------------------------------------
# PDBMETADATAFILE = ""

#-----------------------------------------------------------------------------
# Name          : UNREGISTERWITHDIRSERVICE
# Datatype      : Boolean
# Description   : Specifies whether to unregister with Directory Service.
# Valid values  : TRUE \ FALSE
# Default value : FALSE
# Mandatory     : No
#-----------------------------------------------------------------------------
#UNREGISTERWITHDIRSERVICE= TRUE

#-----------------------------------------------------------------------------
# Name          : DIRSERVICEUSERNAME
# Datatype      : String
# Description   : Specifies the name of the directory service user
# Mandatory     : YES, if the value of unregisterWithDirService is TRUE
#-----------------------------------------------------------------------------
#DIRSERVICEUSERNAME= "name"

#-----------------------------------------------------------------------------
# Name          : DIRSERVICEPASSWORD
# Datatype      : String
# Description   : The password of the directory service user.
#		  You can also specify the password at the command prompt instead of here.
# Mandatory     : YES, if the value of unregisterWithDirService is TRUE
#-----------------------------------------------------------------------------
#DIRSERVICEPASSWORD= "password"

#-----------------------------------------------------------------------------
# Name          : WALLETPASSWORD
# Datatype      : String
# Description   : The password for wallet to created or modified.
#		  You can also specify the password at the command prompt instead of here.
# Mandatory     : YES, if the value of unregisterWithDirService is TRUE
#-----------------------------------------------------------------------------
#WALLETPASSWORD= "password"

#-----------------------*** End of unplugDatabase section ***------------------------

#----------------------------------------------------------------------------------
# DELETEPLUGGABLEDATABASE section is used when OPERATION_TYPE is defined as "deletePluggableDatabase".
#----------------------------------------------------------------------------------
[DELETEPLUGGABLEDATABASE]
#----------------------------------------------------------------------------------
# Name          : SOURCEDB
# Datatype      : String
# Description   : The source database is the SID
#		  This database must be local and on the same ORACLE_HOME.
# Default value : none
# Mandatory     : YES
#-----------------------------------------------------------------------------
SOURCEDB = "orcl"

#----------------------------------------------------------------------------------
# Name          : PDBNAME
# Datatype      : String
# Description   : The name of new pluggable database
#		  This pdb name must not be same as sourcedb name.
# Default value : none
# Mandatory     : YES
#-----------------------------------------------------------------------------
PDBNAME = "PDB1"

#-----------------------*** End of deletePluggableDatabase section ***------------------------

#----------------------------------------------------------------------------------
# CONFIGUREPLUGGABLEDATABASE section is used when OPERATION_TYPE is defined as "configurePluggableDatabase".
#----------------------------------------------------------------------------------
[CONFIGUREPLUGGABLEDATABASE]
#----------------------------------------------------------------------------------
# Name          : SOURCEDB
# Datatype      : String
# Description   : The source database is the SID
#		  This database must be local and on the same ORACLE_HOME.
# Default value : none
# Mandatory     : YES
#-----------------------------------------------------------------------------
SOURCEDB = "orcl"

#----------------------------------------------------------------------------------
# Name          : PDBNAME
# Datatype      : String
# Description   : The name of new pluggable database
#		  This pdb name must not be same as sourcedb name.
# Default value : none
# Mandatory     : YES
#-----------------------------------------------------------------------------
PDBNAME = "PDB1"

#-----------------------------------------------------------------------------
# Name          : DVCONFIGURATION
# Datatype      : Boolean
# Description   : Specify "True" to configure and enable Oracle Database vault
# Valid values  : True/False
# Default value : False
# Mandatory     : No
#-----------------------------------------------------------------------------
#DVCONFIGURATION = "false"

#-----------------------------------------------------------------------------
# Name          : DVOWNERNAME
# Datatype      : String
# Description   : DataVault Owner
# Valid values  : Check Oracle12c Administrator's Guide
# Default value : None
# Mandatory     : Yes, if DataVault option is chosen
#-----------------------------------------------------------------------------
#DVOWNERNAME = ""

#-----------------------------------------------------------------------------
# Name          : DVOWNERPASSWORD
# Datatype      : String
# Description   : Password for DataVault Owner
# Valid values  : Check Oracle12c Administrator's Guide
# Default value : None
# Mandatory     : Yes, if DataVault option is chosen
#-----------------------------------------------------------------------------
#DVOWNERPASSWORD = ""

#-----------------------------------------------------------------------------
# Name          : DVACCOUNTMANAGERNAME
# Datatype      : String
# Description   : DataVault Account Manager
# Valid values  : Check Oracle12c Administrator's Guide
# Default value : None
# Mandatory     : No
#-----------------------------------------------------------------------------
#DVACCOUNTMANAGERNAME = ""

#-----------------------------------------------------------------------------
# Name          : DVACCOUNTMANAGERPASSWORD
# Datatype      : String
# Description   : Password for  DataVault Account Manager
# Valid values  : Check Oracle12c Administrator's Guide
# Default value : None
# Mandatory     : No
#-----------------------------------------------------------------------------
#DVACCOUNTMANAGERPASSWORD = ""

#-----------------------------------------------------------------------------
# Name          : OLSCONFIGURATION
# Datatype      : Boolean
# Description   : Specify "True" to configure and enable Oracle Label Security
# Valid values  : True/False
# Default value : False
# Mandatory     : No
#-----------------------------------------------------------------------------
#OLSCONFIGURATION = "false"

#-----------------------------------------------------------------------------
# Name          : REGISTERWITHDIRSERVICE
# Datatype      : Boolean
# Description   : Specifies whether to register with Directory Service.
# Valid values  : TRUE \ FALSE
# Default value : FALSE
# Mandatory     : No
#-----------------------------------------------------------------------------
#REGISTERWITHDIRSERVICE= TRUE

#-----------------------------------------------------------------------------
# Name          : DIRSERVICEUSERNAME
# Datatype      : String
# Description   : Specifies the name of the directory service user
# Mandatory     : YES, if the value of registerWithDirService is TRUE
#-----------------------------------------------------------------------------
#DIRSERVICEUSERNAME= "name"

#-----------------------------------------------------------------------------
# Name          : DIRSERVICEPASSWORD
# Datatype      : String
# Description   : The password of the directory service user.
#		  You can also specify the password at the command prompt instead of here.
# Mandatory     : YES, if the value of registerWithDirService is TRUE
#-----------------------------------------------------------------------------
#DIRSERVICEPASSWORD= "password"

#-----------------------------------------------------------------------------
# Name          : WALLETPASSWORD
# Datatype      : String
# Description   : The password for wallet to created or modified.
#		  You can also specify the password at the command prompt instead of here.
# Mandatory     : YES, if the value of registerWithDirService is TRUE
#-----------------------------------------------------------------------------
#WALLETPASSWORD= "password"

#-----------------------------------------------------------------------------
# Name          : LBACSYSPASSWORD
# Datatype      : String
# Description   : Password for LBACSYS user
#		  You can also specify the password at the command prompt instead of here.
# Mandatory     : YES, if the value of olsConfiguration and registerWithDirService are TRUE
#-----------------------------------------------------------------------------
#LBACSYSPASSWORD= "password"


#-----------------------------------------------------------------------------
# Name          : EMCONFIGURATION
# Datatype      : String
# Description   : Enterprise Manager Configuration Type
# Valid values  : DBEXPRESS|NONE
# Default value : NONE
# Mandatory     : No
#-----------------------------------------------------------------------------
#EMCONFIGURATION = "NONE"


#-----------------------------------------------------------------------------
# Name          : EMEXPRESSPORT
# Datatype      : Number
# Description   : Enterprise Manager Configuration Type
# Valid values  : Check Oracle12c Administrator's Guide
# Default value : NONE
# Mandatory     : No, will be picked up from DBEXPRESS_HTTPS_PORT env variable
#                 or auto generates a free port between 5500 and 5599
#-----------------------------------------------------------------------------
#EMEXPRESSPORT = ""

#-----------------------*** End of configurePluggableDatabase section ***------------------------
