# {{ ansible_managed }}
#!/bin/bash
{% if item.0.oracle_home is defined %}
oracle_home={{ item.0.oracle_home }}
{% else %}
oracle_home={{ oracle_home_db_install }}
{% endif %}

chkifinstalled=`grep $oracle_home "{{ oracle_inventory_loc }}/ContentsXML/inventory.xml" |wc -l`
if [[ $chkifinstalled == 1 ]]; then
 echo "Error: ORACLE_HOME: "$oracle_home" already present. Exiting"
 exit 0
else
{{ oracle_stage_install }}/{{ item.0.oracle_version_db }}/database/runInstaller -responseFile {{ oracle_rsp_stage }}/{{ oracle_db_responsefile }} -ignorePrereq -ignoreSysPrereqs -silent -waitforcompletion
fi


