---
- name: cdb | Perform timezone checks for CDB$ROOT and PDB$SEED first
  opitzconsulting.ansible_oracle.oracle_sqldba:
    catcon_pl: "{{ _oracle_home_db }}/rdbms/admin/utltz_upg_check.sql"
    creates_sql: "{{ _oradb_tzupgrade_tz_check_query }}"
    oracle_home: "{{ _oracle_home_db }}"
    oracle_db_name: "{{ _oracle_db_instance_name }}"
    scope: pdbs
    pdb_list: "CDB$ROOT PDB$SEED"
  become_user: "{{ oracle_user }}"
  become: true

- name: cdb | Upgrade timezone for CDB$ROOT and PDB$SEED
  opitzconsulting.ansible_oracle.oracle_sqldba:
    catcon_pl: "{{ _oracle_home_db }}/rdbms/admin/utltz_upg_apply.sql"
    creates_sql: "{{ _oradb_tzupgrade_tz_check_query }}"
    oracle_home: "{{ _oracle_home_db }}"
    oracle_db_name: "{{ _oracle_db_instance_name }}"
    scope: pdbs
    pdb_list: "CDB$ROOT PDB$SEED"
  become_user: "{{ oracle_user }}"
  become: true

- name: cdb | Get all open PDBs
  opitzconsulting.ansible_oracle.oracle_sqldba:
    sqlselect: >-
      select name pdb_list
      from v$pdbs
      where open_mode in ('READ WRITE', 'MIGRATE')
    oracle_home: "{{ _oracle_home_db }}"
    oracle_db_name: "{{ _oracle_db_instance_name }}"
  become_user: "{{ oracle_user }}"
  become: true
  register: pdbs_info
 
- name: cdb | Set facts for pdbs_info
  ansible.builtin.set_fact:
    _oradb_tzupgrade_candidate_pdbs: "{{ pdbs_info.state.ROW | map(attribute='PDB_LIST') | list | join(' ') }}"

- name: cdb | Show facts for pdbs_info
  ansible.builtin.debug:
    msg: "Candidate PDBs: {{ _oradb_tzupgrade_candidate_pdbs }}"

- name: cdb | Upgrade timezone
  when: _oradb_tzupgrade_candidate_pdbs != ""
  block:

    - name: cdb | Perform timezone checks for the candidate PDBs
      opitzconsulting.ansible_oracle.oracle_sqldba:
        catcon_pl: "{{ _oracle_home_db }}/rdbms/admin/utltz_upg_check.sql"
        creates_sql: "{{ _oradb_tzupgrade_tz_check_query }}"
        oracle_home: "{{ _oracle_home_db }}"
        scope: pdbs
        pdb_list: "{{ _oradb_tzupgrade_candidate_pdbs }}"
        oracle_db_name: "{{ _oracle_db_instance_name }}"
      become_user: "{{ oracle_user }}"
      become: true

    - name: cdb | Upgrade timezone for the candidate PDBs
      opitzconsulting.ansible_oracle.oracle_sqldba:
        catcon_pl: "{{ _oracle_home_db }}/rdbms/admin/utltz_upg_apply.sql"
        creates_sql: "{{ _oradb_tzupgrade_tz_check_query }}"
        oracle_home: "{{ _oracle_home_db }}"
        scope: pdbs
        pdb_list: "{{ _oradb_tzupgrade_candidate_pdbs }}"
        oracle_db_name: "{{ _oracle_db_instance_name }}"
      become_user: "{{ oracle_user }}"
      become: true

- name: cdb | Get post upgrade timezone status info
  opitzconsulting.ansible_oracle.oracle_sqldba:
    sql: |
      set tab off
      set head on
      set pages 99
      set lines 200
      column current_tz format a20
      column latest_tz format a20
      column container format a20
      column open_mode format a15
      alter session set "_exclude_seed_cdb_view"=false;
      select (select name from v$containers where con_id=t.con_id) container,
             (select open_mode from v$containers where con_id = t.con_id) open_mode,
             value$ current_tz,
             to_char(dbms_dst.get_latest_timezone_version) latest_tz
        from containers(SYS.PROPS$) t where NAME='DST_PRIMARY_TT_VERSION' order by 1;
    oracle_home: "{{ _oracle_home_db }}"
    oracle_db_name: "{{ _oracle_db_instance_name }}"
  become_user: "{{ oracle_user }}"
  become: true
  changed_when: false
  register: post_status_info

- name: cdb | Show post upgrade timezone status info
  ansible.builtin.debug:
    msg: "{{ post_status_info.msg | split('\n') }}"
