ORACLE_HOME_NAME={{ oracle_home_name }}
ORACLE_BASE={{ oracle_base }}
ORACLE_HOME={{ oracle_home }}
ORAINVENTORY_LOC={{ oracle_inventory_loc }}

perl $ORACLE_HOME/clone/bin/clone.pl -silent ORACLE_BASE=$ORACLE_BASE ORACLE_HOME=$ORACLE_HOME ORACLE_HOME_NAME=$ORACLE_HOME_NAME INVENTORY_LOCATION=$ORAINVENTORY_LOC -O'"CLUSTER_NODES={"{{ oracle_cluster_nodes }}"}"' -O'"LOCAL_NODE={{ ansible_hostname }}"' 
