# {{ ansible_managed }}
#!/bin/bash

{{ oracle_home_gi }}/bin/asmca -silent -createDiskGroup \
       -diskGroupName {{ item.diskgroup }} \
{% if device_persistence == 'udev' %}
     {% for disk in  item.disk    %}
       {% if disk.failgroup is defined %} \
           -diskList '{{ oracle_asm_disk_string }}{{ disk.asmlabel }}' \
               -failuregroup {{ item.disk.failgroup }} \
       {% else %}
         -disk '{{ oracle_asm_disk_string }}{{ disk.asmlabel }}' \
       {% endif %}
     {% endfor %}
{% elif device_persistence == 'asmlib' %}
     {% for disk in  item.disk    %}
       {% if disk.failgroup is defined %} \
           -diskList 'ORCL:{{ disk.asmlabel|upper }}' \
               -failuregroup {{ disk.failgroup }} \
       {% else %}
         -disk 'ORCL:{{ disk.asmlabel|upper }}' \
       {% endif %}
     {% endfor %}
{% else %}
{% endif %}
\
{% for a in item.properties %}
        -redundancy {{ a.redundancy }} \
        -au_size {{ a.ausize}} \
{% endfor %}
{% for attr in item.attributes %}
        -{{ attr.name }} '{{ attr.value }}' \
{% endfor %}
