TYPE=cluster_resource
DESCRIPTION=Bla bla bla
ACL=owner:{{ oracle_user }}:rwx,pgrp:{{ oracle_group }}:rwx,other::r--
ACTION_SCRIPT={{ oracle_home_gi_cl }}/crs/public/act_db_{{ item.oracle_db_name }}.pl
ACTIVE_PLACEMENT=0
AGENT_FILENAME=%CRS_HOME%/bin/scriptagent
AUTO_START=restore
CARDINALITY=1
CHECK_INTERVAL=10
DEFAULT_TEMPLATE=
ENABLED=1
FAILOVER_DELAY=0
FAILURE_INTERVAL=0
FAILURE_THRESHOLD=0
HOSTING_MEMBERS={% for host in groups[hostgroup] -%}{{ host }} {%- if not loop.last -%}  {% endif %} {% endfor %}

LOAD=1
LOGGING_LEVEL=1
OFFLINE_CHECK_INTERVAL=0
PLACEMENT=favored
RESTART_ATTEMPTS=3
SCRIPT_TIMEOUT=60
START_TIMEOUT=0
UPTIME_THRESHOLD=1h


