---
- name: gi_opatch | Check current opatch version
  oracle_opatch:
    oracle_home={{ oracle_home_gi }}
    state=opatchversion
  register: current_opatch_version
  tags: current_opatch_version
  when: gi_patches is defined and gi_patches[oracle_install_version_gi] is defined and gi_patches[oracle_install_version_gi]['opatch_minversion'] is defined

- ansible.builtin.debug: var=current_opatch_version.msg
  # noqa unnamed-task
  tags: current_opatch_version
  when: gi_patches is defined and gi_patches[oracle_install_version_gi] is defined and gi_patches[oracle_install_version_gi]['opatch_minversion'] is defined

- name: gi_opatch | Extract OPatch to GI Home
  ansible.builtin.unarchive:
    src={{ oracle_stage }}/{{ item.filename }}
    dest={{ oracle_home_gi }}
    copy=no
    owner={{ grid_install_user }}
    group={{ oracle_group }}
  become: true
  with_items: "{{ oracle_opatch_patch }}"
  when:
    - apply_patches_gi
    - item.version == oracle_install_version_gi
    - oracle_sw_copy
    - gi_patches is defined
    - gi_patches[oracle_install_version_gi] is defined
    - gi_patches[oracle_install_version_gi]['opatch_minversion'] is defined
    - (current_opatch_version.msg is version_compare(gi_patches[oracle_install_version_gi]['opatch_minversion'], '<'))
  tags:
    - oragridpatchunpack

- name: gi_opatch | Extract OPatch to GI Home (from remote location)
  ansible.builtin.unarchive:
    src={{ oracle_stage_remote }}/{{ item.filename }}
    dest={{ oracle_home_gi }}
    copy=no
    owner={{ grid_install_user }}
    group={{ oracle_group }}
  become: true
  with_items: "{{ oracle_opatch_patch }}"
  when:
    - apply_patches_gi
    - item.version == oracle_install_version_gi
    - not oracle_sw_copy
    - gi_patches is defined
    - gi_patches[oracle_install_version_gi] is defined
    - gi_patches[oracle_install_version_gi]['opatch_minversion'] is defined
    - (current_opatch_version.msg is version_compare(gi_patches[oracle_install_version_gi]['opatch_minversion'], '<'))
  tags:
    - oragridpatchunpack

- name: gi_opatch | Check current opatch version
  oracle_opatch:
    oracle_home={{ oracle_home_gi }}
    state=opatchversion
  register: current_opatch_version
  tags: current_opatch_version
  when:
    - gi_patches is defined
    - gi_patches[oracle_install_version_gi] is defined
    - gi_patches[oracle_install_version_gi]['opatch_minversion'] is defined

- ansible.builtin.debug: var=current_opatch_version.msg
  # noqa unnamed-task no-handler
  tags: current_opatch_version
  when: current_opatch_version.changed
