---
- name: rootscript_postpatch | Get owner of ORACLE_HOME/bin
  ansible.builtin.stat:
    path: "{{ oracle_home_gi }}/bin"
  become: true
  become_user: "{{ _grid_install_user }}"
  register: oraclehomegi_stat

- name: "rootscript_prepatch | Execute root{{ _oraswgi_manage_patches_crstype }}.sh -prepatch"
  when:
    - oraclehomegi_stat.stat.exists
    - oraclehomegi_stat.stat.pw_name == 'root'
  block:
    - name: "rootscript_prepatch | Execute root{{ _oraswgi_manage_patches_crstype }}.sh -prepatch"  # noqa no-changed-when
      ansible.builtin.command: >-
        {{ oracle_home_gi }}/crs/install/root{{ _oraswgi_manage_patches_crstype }}.sh -prepatch
      become: true
      become_user: root
      register: roothasprepatchres

    - name: Info
      ansible.builtin.debug:
        var: roothasprepatchres.stdout_lines

- name: rootscript_postpatch | Check for running Stack  # noqa no-changed-when
  ansible.builtin.command: >-
    {{ oracle_home_gi }}/bin/crsctl
    check
    {{ _oraswgi_manage_patches_crstype }}
  become: true
  become_user: "{{ _grid_install_user }}"
  register: crscheckres

- name: Info
  ansible.builtin.debug:
    msg:
      - "Is stack running? {{ _oraswgi_manage_patches_crs_running | default('state unknown') }}"
