---

- name: Host configuration
  hosts: "{{ hostgroup | default('all') }}"
  become: true
  any_errors_fatal: true
  roles:
    - opitzconsulting.ansible_oracle.common
    - opitzconsulting.ansible_oracle.orahost
    - opitzconsulting.ansible_oracle.orahost_storage
    - opitzconsulting.ansible_oracle.orahost_ssh
    - opitzconsulting.ansible_oracle.cxoracle
    - opitzconsulting.ansible_oracle.orahost_logrotate

  post_tasks:
    - name: Collect service facts to determine if autofs even is restartable
      ansible.builtin.service_facts:

    - name: Restart autofs
      when:
        - ansible_facts['services']['autofs.service'] is defined
        - (ansible_facts['services']['autofs.service']['status'] | default('not-found')) not in ('not-found','masked')
      ansible.builtin.service:
        name: autofs
        enabled: true
        state: restarted
      tags:
        - autofs
        - molecule-idempotence-notest
