---
- name: Import assert_cluster.yml
  ansible.builtin.import_tasks: assert_cluster.yml

### Determine kernel.panic according to Doc ID 2821641.1
# kdump state cannot savely be retrieved from service_facts
- name: Determine kernel.panic setting
  block:
    - name: Get kdump state
      ansible.builtin.systemd:
        name: kdump
      register: __orahost_kdump_state

    - name: Set/unset kernel.panic according to kdump state
      ansible.builtin.set_fact:
        sysctl_kernel_panic: |
          {{ (__orahost_kdump_state.status.ActiveState == 'active') | ternary(0, 1) }}

- name: Calculate SGA aggregates
  block:
    - name: Extract SGA parameters, choose sga_max_size over sga_target if both are definied
      ansible.builtin.set_fact:
        __orahost_oracle_database_sgas: >-
          {{ (__orahost_oracle_database_sgas | default([])) +
          (( __orahost_oracle_database_init_parameter | selectattr('name', 'match', '(?i)^sga_max_size$') ) | length > 0 )
          | ternary(__orahost_oracle_database_init_parameter | selectattr('name', 'match', '(?i)^sga_max_size$'),
                    __orahost_oracle_database_init_parameter | selectattr('name', 'match', '(?i)^sga_target$')) }}
      loop: >-
        {{ ((oracle_databases | default([])) + (oracle_asm_instance | default([])))
        | map(attribute='init_parameters', default=[]) }}
      loop_control:
        loop_var: __orahost_oracle_database_init_parameter
      when: (__orahost_oracle_database_init_parameter | selectattr('name', 'match', '(?i)^(sga_target|sga_max_size)$')) | length > 0

    - name: Aggregate SGAs
      ansible.builtin.include_tasks: aggregate_sgas.yml
      loop: "{{ __orahost_oracle_database_sgas }}"
      loop_control:
        loop_var: __orahost_oracle_database_sga
        label: "{{ __orahost_oracle_database_sga.name + ': ' + __orahost_oracle_database_sga.value }}"
      when: __orahost_oracle_database_sga is defined

- name: Calculate processes aggregates
  ansible.builtin.include_tasks: aggregate_processes.yml
  loop: >-
    {{ ((oracle_databases | default([])) + (oracle_asm_instance | default([])))
    | map(attribute='init_parameters', default=[])
    | flatten
    | selectattr('name', 'match', '(?i)^processes$') }}
  loop_control:
    loop_var: __orahost_oracle_database_processes
    label: "{{ __orahost_oracle_database_processes.name + ': ' + __orahost_oracle_database_processes.value | string }}"

- name: Count number of instances (including ASM)
  ansible.builtin.set_fact:
    oracle_nr_instances: |
      {{ oracle_databases | default({}) | length + oracle_asm_instance | default({}) | length }}

- name: Get system's pagesize
  block:
    - name: Read PAGE_SIZE
      ansible.builtin.command:
        cmd: "getconf PAGE_SIZE"
      changed_when: false
      register: __orahost_pagesize_result

    - name: Provide PAGE_SIZE variable
      ansible.builtin.set_fact:
        page_size_bytes: "{{ __orahost_pagesize_result.stdout }}"

- name: Get system's Hugepagesize
  block:
    - name: Read Hugepagesize
      ansible.builtin.command:
        cmd: 'grep -Pi "\bHugepagesize\b" /proc/meminfo'
      changed_when: false
      register: __orahost_hugepagesize_result

    - name: Provide hugepagesize variable
      ansible.builtin.set_fact:
        hugepage_size_bytes: "{{ (__orahost_hugepagesize_result.stdout | split())[1] | int * 1024 }}"

# Kernelsettings are not availible in molecule
- name: Calculate kernel.sem
  ansible.builtin.include_tasks: calculate_kernel_semaphores.yml
  when:
    - oracle_databases | default([]) | length > 0
  tags:
    - molecule-notest
