---
name: Ansible Lint

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - 'pr*'

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
      # Important: This sets up your GITHUB_WORKSPACE environment variable
      - uses: actions/checkout@v2

      - name: Lint roles
        uses: ansible-community/ansible-lint-action@v6.6.1
        with:
          targets: |
            inventory/*
            playbooks/*
            roles/*
