name: Test antsibull-changelog lint

on:
  pull_request:
    branches:
      - oc
      - master
      - collection
  push:
    branches:
      - 'pr*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install antsibull-changelog

      - name: antsibull-changelog lint (own changelog fragments)
        run: |
          antsibull-changelog lint
